
@import 'library/_mediaQuery';
@import 'library/_styleSetting';

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    color: #c38b47;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', 微軟正黑體, 'Microsoft JhengHei', sans-serif;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


@font-face {
    font-family: 'Roboto';
    src: url($assets + '/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url($assets + '/fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url($assets + '/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url($assets + '/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}


img {
    max-width: 100%;
    vertical-align: middle;
}

.view{
    padding: 0 20px;
}
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
    @include maxW-768 {
        width: 100%;
    }
}
.w50-M{
    width: 50%;
}

.d-flex{
    display: flex;
    width: 100%;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.f13 { font-size: 0.8125rem; }
.f14 { font-size: 0.875rem; }

.text-underline{ text-decoration: underline; }
.txt-note{color: #818181;}
.text-danger {color: #ff6767; }
.txt-heghtlight{ color: #c38b47; }
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.mt-0{margin-top: 0rem !important;}
.mt-1{margin-top: 1rem !important;}
.mt-2{margin-top: 2rem !important;}
.mt-3{margin-top: 3rem !important;}
.mb-0{margin-bottom: 0rem !important;}
.mb-1{margin-bottom: 1rem !important;}
.mb-2{margin-bottom: 2rem !important;}
.mb-3{margin-bottom: 3rem !important;}

.mt-12{margin-top: 12px!important;}
.mt-24{margin-top: 24px!important;}
.mb-12{margin-bottom: 12px!important;}
.mb-24{margin-bottom: 24px!important;}


/* icon */
.info { display: inline-block; width: 16px; }
.arrow-right{width:24px;}

/* ul style */
.list-style-disc{ padding-left: 30px; list-style: disc; }
.list-style-cjk { padding-left: 30px; list-style: cjk-ideographic;}
.list-style-decimal { padding-left: 30px; list-style: decimal; }

.sub-header{
    width: 100%;
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .name {
        font-size: 1.125rem;
    }
}

.sub-footer {
    min-height: 80px;
    font-size: 0.875rem;
    color: #fff;
    background: #244a91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content {
    // height: calc(100vh - 48px - 80px);
    min-height: 608px;
    .view-992 {
        max-width: 992px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .view{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
    }

    .main-title{
        margin: 0 0 32px;
        text-align: left;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
        color: #111111;
    }
    .sub-title{
        padding: 1rem 0 0;
    }
    .title-pdm{
        padding-bottom: 1rem;
    }
    
}

.form-group{
    margin-bottom: 1em;
    &.sm {
        margin-bottom: 1rem;
        @include maxW-768 {
            margin-bottom: .7rem;
        }
    }
    small { 
        display: block; 
        &.form-note {
            font-size: 0.875rem;
            color: #818181;
            font-weight: 300;
        }
    }
    .bg-yellow{
        font-size: 0.875rem;
        line-height: 1.4;
        margin-top: .3rem;
        padding: .3rem;
        background: rgba(232,202,62,.35);
        border-radius: 3px;
    }
    &.invalid-error {
        .form-control{
            border: 1px solid #ff6767;
        }
        .form-text{
            margin-top: 4px;
            color: #ff6767;
        }
    }
}
.form-label{
    display: block;
    margin-bottom: 8px;
}
.form-control{
    display: block;
    padding: 0 8px;
    width: 100%;
    height: 42px;
    font-size: 1rem;
    line-height: 42px;
    color: #818181;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    transition: border .3s ease;
    &:focus {
        outline: none;
        border: 1px solid #c38b47;
    }
}
.form-disabled{
    .form-control{
        background: #f7f7f7;
        border: 1px solid #e3e3e3;
        pointer-events: none;
    }
}


.form-wrap{
    .w50-M{
        width: 48%;
    }
}

.custom-select {
    //@include maxW-device-768 {
        width: 100%;
        height: 42px;
        padding: 0 8px;
        font-size: 1rem;
        line-height: 42px;
        color: #111;
        border: 1px solid #aaaaaa;
        border-radius: 5px;
        background: #fff url($assets + '/images/open/icon/dropdown@2x.png') no-repeat 98% center;
        background-size: 16px auto;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        transition: border .3s ease;
        &:focus {
            outline: none;
            border: 1px solid #c38b47;
        }
    //}
    
}







::placeholder {
  color: #818181;
  opacity: 1;
}
:-ms-input-placeholder {
 color: #818181;
}
::-ms-input-placeholder {
 color: #818181;
}


/* 驗證碼 */
.seperate-input{
    margin: 32px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > .form-control {
        flex: 1 1 48px;
        height: 56px;
        margin: 0 5px;
        font-size: 1.5rem;
        line-height: 56px;
        text-align: center;
    }
}
.note {
    font-size: 0.875rem;
    color: #c38b47;
}





/* button */
.center{
    text-align: center;
    margin: 0 auto 30px;
    &.align-bottom {
        margin: 48px auto 32px;
    }
}


.btn{
    margin: 0 auto;
    min-width: 264px;
    height: 44px;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    // &.disabled {
    //     cursor: not-allowed;
    //     pointer-events: none;
    //     color: #ae8f67;
    //     background-image: linear-gradient(to bottom, #f4e1c4, #d5bfa0);
    // }
}
.btn-primary{
    color: #784f1d;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #f2cb91, #c29557);
}
.disabled {
    color: #fff;
    background-image: linear-gradient(to bottom, #b2b2b2, #818181);
    pointer-events: none;
    cursor: not-allowed;
}




.open-progress{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 3px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #f5f5f5;
    }
    .progress-line{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgb(232,203,62);
        background: linear-gradient(90deg, rgba(232,203,62,1) 0%, rgba(205,155,29,1) 100%);
        z-index: 2;
    }
}





/* 補件狀態 */
.status{
    &-image{
        max-width: 192px;
        margin:  0 auto;
    }
    &-title {
        padding: 24px 0 0 ;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        color: #111111;
    }
    &-content{
        padding: 24px 0 0 ;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        color: #111111;
        .ul-list{
            padding: 1rem 0;
            li {
                margin-bottom: .5rem;
            }
        }
        .link {
            color: #c38b47;
        }
    }
}


hr {
    height: 1px;
    width: 100%;
    border: 0px;
    &.bg-grey{
        background: #e8e8e8;
        
    }
}



/* CheckBox */
.form-check {
    display: flex;
    margin-bottom: 2rem;
}
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &:focus {
        border: none;
    }
    & + label {
        position: relative;
        cursor: pointer;
        width: 306px;
        padding: 0 0 0 40px;
        font-size: 1rem;
        color: #111;

    .small {
        display: block;
        font-size: 0.875rem;
        color: #818181;
    }
  }

  // Box.
  & + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #c38b47;
  }

  // Box checked
  &:checked + label:before {
    background: #c38b47;
    border: 2px solid #fff;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

/* Radio */
.styled-radio:checked,
.styled-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}
.styled-radio:checked + label,
.styled-radio:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.styled-radio:checked + label:before,
.styled-radio:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #aaaaaa;
    border-radius: 100%;
    background: #fff;
}
.styled-radio:checked + label:after,
.styled-radio:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #c38b47;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.styled-radio:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.styled-radio:checked + label {
    color: #c38b47;
}
.styled-radio:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/* toggle bubble */
.bubble{
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: .25rem .8rem;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    font-size: 0.875rem;
    border: 1px solid #aaaaaa;
    color: #111111;
    cursor: pointer;
    transition: all .3s ease-in;
    .icon {
        width: 0;
        height: 24px;
        background: url($assets + '/images/open/icon/check-brown@3x.png') no-repeat center center;
        background-size: 100% auto;
        transition: width .1s ease;
    }
    &.active {
        border: 1px solid #c38b47;
        background: #fff6eb;
        .icon {
            width: 24px;
        }
        .text {
            color: #976324;
        }
    }
}




.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:hover {
        .tooltip-box {
            display: block;
        }
    }
    &-box {
        display: none;
        position: absolute;
        min-width: 218px;
        top: 2rem;
        left: 0;
        padding: 1rem;
        color: #e3e3e3;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.5;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
    }
}