.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
        .modal-dialog{
            animation: showUp .3s linear forwards;
            @include  maxW-768 {
                animation: showUp_M .3s linear forwards;
            }
        }
    }
    &-header {
        position: relative;
        padding: 1rem 1rem 0;
        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            border: none;
            color: #c38b47;
            font-size: 0.875rem;    
            background: transparent;
            cursor: pointer;
        }
    }
    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #f9f9f9;
        background-clip: padding-box;
        border-radius: 10px;
        outline: 0;
        @include maxW-768 {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        &.minWidth {
            min-width: 792px;
            @include maxW-768 {
                min-width: 100%;
            }
        }
    }
    &-dialog {
        position: absolute;
        top: 60%;
        left: 50%;
        //width: 992px;
        margin: .5rem;
        pointer-events: none;
        opacity: 0;
        border-radius: 10px;
        @include maxW-992 {
            width: 100%;
            margin: 0;
        }
        @include maxW-768 {
           top: 10%;
           bottom: 0;
        }
    }
    &-body-box {
        height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        @include maxW-768 {
            height: 80vh;
        }
    }
    &-body {
        position: relative;
        flex: 1 1 auto;
        padding: 0 1rem 1rem;
        font-size: 0.875rem;
    }
    &-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding: .75rem .75rem 2rem;
        &.center {
            justify-content: center;
        }
        &.column {
            flex-direction: column;
        }
        &>* {
            margin: .25rem;
        }
        button, .btn {
            min-width: 180px;
        }
    }
    .modal-title {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #111;
    }
    .modal-sub-title{
        font-size: 0.875rem;
        line-height: 1.5;
        color: #111111;
    }
    .sub-title{ padding: 1rem 0; }
    .list-style-cjk li { margin-bottom: 0.8rem; }
    .list-style-decimal li{ margin-bottom: 0.4rem; }
}

@keyframes showUp {
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes showUp_M {
    100% {
        bottom: 0%;
        opacity: 1;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    &.fade {
        opacity: 0;
        visibility: hidden;
    }
    &.show {
        opacity: .7;
        z-index: 1007;
        visibility: visible;
    }
}


.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(-50%, -50%); 
    @include maxW-768 {
        transform: translate(-50%,0%); 
    }
}
.modal.show .modal-dialog {
   // transform: none;
   display: flex;
}
.modal-dark.show .modal-dark-dialog {
   // transform: none;
   display: block;
}



/* Dark */
.modal-backdrop-dark {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    &.fade {
        opacity: 0;
        visibility: hidden;
    }
    &.show {
        opacity: .7;
        z-index: 1007;
        visibility: visible;
    }
}

.modal-dark {
    &.show {
        .modal-dark-dialog {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-dialog{
        max-width: 328px;
    }
    .modal-dark-body {
        position: relative;
        flex: initial;
        padding: 0;
        font-size: 0.875rem;
    }
    .modal-content{
        border-radius: 3px;
        padding: 24px 24px 32px;
        background: rgb(58,53,47);
        background: linear-gradient(180deg, #3a352f 20%, #1f1f1f 100%);
        .modal-dark-icon{
            max-width: 54px;
            margin: 0 auto;
        }
        .modal-dark-title{
            margin: 1rem auto;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
            color: #ffffff;
        }
        .modal-dark-content {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.5;
            color: #ffffff;
        }
    }
    &-footer {
        margin-top: 32px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .btn.btn-120{
        min-width: 120px;
        margin: 0 8px;
    }
    .btn.btn-180{
        min-width: 180px;
        margin: 0 8px;
    }
}

.btn-gold-outline{
    padding: 1px;
    background: linear-gradient(to bottom, #f2cb91, #c29557);
    &>span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: rgba(31,31,31,1);
        border-radius: 3px;
        
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #fed28f;
    }
}

.btn-gold-primary{
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #111111;
    background: linear-gradient(to bottom, #f2cb91, #c29557);
}