extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss
block js
 
block main
    #appOpen
        .view
            button.btn.btn-primary(@click="openModal('#staticBackdrop')" type="button",data-toggle="modal", data-target="#staticBackdrop") open modal
        

        //- lightbox
        .modal-backdrop.fade
        .modal.fade#staticBackdrop(tabindex="-1",role="dialog", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title 大標
                        button.close(@click.prevent="closeModal('#staticBackdrop')",type="button",data-dismiss="modal") 關閉
                    .modal-body-box
                        .modal-body
                            p.modal-sub-title 說明文字
                            h6.sub-title 小標
                            ul.list-style-cjk
                                li 內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                li 
                                    span.txt-heghtlight 重點文字
                                    |文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                    a.text-underline(href="") 文字連結
                            ul.list-style-decimal 
                                li 細項說明使用此種樣式
                                li 細項說明使用此種樣式
                                li 細項說明使用此種樣式

                            h6.sub-title 小標
                            ul.list-style-cjk
                                li 內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                li 
                                    span.txt-heghtlight 重點文字
                                    |文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                    a.text-underline(href="") 文字連結
                            ul.list-style-decimal 
                                li 細項說明使用此種樣式
                                li 細項說明使用此種樣式
                                li 細項說明使用此種樣式

                    .modal-footer
                        button.btn.btn-secondary(type="button") 按鈕
                        button.btn.btn-primary(type="button") 按鈕
    