extends ../../includes/_layout_open.pug

block title
    title 成為大戶 開始享受質感生活

block scss


block main
    .view-992 
        #appOpen 
            .intro-steps.intro-steps_1
                .intro-steps-title
                    .intro-steps_step 
                        img(src=assets + "/images/open/steps/step-01.svg", alt="01/5")
                    h1.intro-steps_ttl 成為大戶 
                    h2.intro-steps_sub 開始享受質感生活

                .intro-steps-button
                    a.btn.btn-steps.btn-step-marble(href="")  
                        span 立即開戶

 

block js
     