extends ../../includes/_layout_open.pug

block title
    title 信用卡驗證

block scss


block main

    .view-992
        #appOpen  
            .bg-marble
                .open-progress
                    .progress-line(style="width:35%")
                
                .flex-title
                    h1.main-title 信用卡驗證 
                    a.main-title-link(href="javascript:void(0)",@click="openModal('#collapesBank')",data-toggle="modal", data-target="#collapesBank") 查看可驗證銀行

                
                .black-card
                    .black-card-box
                        label.carmra(for="frmCCNum")
                            .icn 
                                img(src=assets + "/images/open/icon/camera@2x.png", alt="camara")
                            .txt 拍照掃瞄
                        div 
                            label.ttl(for="frmCCNum") 信用卡卡號
                            //- input.creditCardInput(v-model="creditCardNum", @input="ccFormat", name="cardnumber", id="frmCCNum", required , autocomplete="cc-number")
                            .form-box.seperate-input.insert-shadow
                                input.form-control(id="frmCCNum", type="tel", required, pattern="[0-9]*", maxlength="4", autocomplete="cc-number") 
                                input.form-control(id="frmCCNum", type="tel", required, pattern="[0-9]*", maxlength="4", autocomplete="cc-number")
                                input.form-control(id="frmCCNum", type="tel", required, pattern="[0-9]*", maxlength="4", autocomplete="cc-number")
                                input.form-control(id="frmCCNum", type="tel", required, pattern="[0-9]*", maxlength="4", autocomplete="cc-number") 
                                span.line.line-1
                                span.line.line-2
                                span.line.line-3
                        
                        .d-flex.align-center.justify-between
                            div 
                                label.ttl(for="frmCCExp") 有效期限
                                .form-box.width6
                                    input.form-control.shadow(v-model="expiredDate", @input="expiredDateFormate" , name="cc-exp", id="frmCCExp" ,required, pattern="[0-9]*" ,maxlength="5",placeholder="MM / YY", autocomplete="cc-exp") 
                                    
                            div 
                                label.ttl(for="frmCCCVC") 後3碼
                                .form-box.width6
                                    .form-group
                                        input.form-control.shadow(name="cvs", id="frmCCCVC", required, pattern="[0-9]*", autocomplete="cc-csc", maxlength="3", placeholder="_ _ _") 


                .center.align-bottom
                    button.btn.btn-primary.disabled(type="submit") 驗證
            
            //- https://codepen.io/tommyno/pen/vgLYKY
            //- modal
            .modal-backdrop.fade.show
            .modal.fade.show#collapesBank(tabindex="-1",role="dialog", aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title.f20 信用卡驗證合作銀行
                            button.close(@click.prevent="closeModal('#collapesBank')",type="button",data-dismiss="modal") 關閉
                    
                            .modal-body
                                .bank-list-wrap 
                                    ul
                                        li 永豐銀行
                                        li 聯邦銀行
                                        li 遠東銀行
                                        li 元大銀行
                                        li 兆豐銀行
                                        li 渣打銀行
                                        li 台中銀行
                                        li 安泰銀行
                                        li 陽信銀行
                                        li 三信銀行
                                        li 華泰銀行
                                        li 星展銀行
                        .modal-footer

block js