extends ../../includes/_layout_open.pug

block title
    title 身分證_成功

block scss

block main

    #appOpen

        .view-992

            .upload-card-box
                h1.main-title.mb-1 確認證件裁切範圍
                p.mb-2 請手動將紅框線對準證件的四角
                
                .upload-photo-bg
                    .photo
                        img#uploaded-id-card(src=assets + "/images/open/idCard/nopic.png", alt="")
                  
            .upload-card-tool    
                .docs-buttons
                    .btn-group
                        button.btn.btn-rotate.btn-rotate_left(type="button", data-method="rotate", data-option="-45", title="Rotate Left")
                        button.btn.btn-rotate.btn-rotate_right(type="button", data-method="rotate", data-option="-45", title="Rotate Right")
                    .btn-group
                        label.btn-upload(for="inputImage", title="Upload image file")
                            input.sr-only#inputImage(type="file", name="file", accept=".jpg,.jpeg,.png")
                            span 重新上傳

          
          

            .center.d-flex.flex-column.mt-2
                button.btn.btn-primary(type="button") 確認
        
      

block js
    script(src = public +'/lib/js/cropper.js' defer)
    script(src = public +'/lib/js/jquery-cropper.js' defer)
    script(src = assets + '/js/cropper.bundle.js' defer)


