extends ../../includes/_layout_open.pug

block title
    title 身分驗證 線上認證金融身分

block scss


block main
    .view-992 
        #appOpen 
            .intro-steps.intro-steps_2
                .intro-steps-title
                    .intro-steps_step 
                        img(src=assets + "/images/open/steps/step-02.svg", alt="02/5")
                    h1.intro-steps_ttl 身分驗證
                    h2.intro-steps_sub 線上認證金融身分

                .intro-steps-button
                    a.btn.btn-steps(href="") 
                        span 繼續完成



block js
     