extends ../../includes/_layout_open.pug

block title
    title 設定你的金融卡

block scss

block js

block main
    .view-992#appOpen
        h1.main-title.mb-1 設定你的金融卡
        form
            .form-group
                label.form-label(for="") 選擇悠遊卡自動加值功能（自動功能開啟後即無法關閉）
            .form-radio.form-group
                input.styled-radio(id="defaultRadio1",type="radio", name="radio-group", checked="checked")
                label.styled-label(for="defaultRadio1") 開啟
            .form-radio.form-group
                input.styled-radio(id="defaultRadio2",type="radio", name="radio-group")
                label.styled-label(for="defaultRadio2") 關閉
            
            .form-group
                label.form-label(for="") 
                    a(href="") 聯名卡/認同機構之個人資料使用同意條款
            .form-radio.form-group
                input.styled-radio(id="defaultRadio1",type="radio", name="radio-group", checked="checked")
                label.styled-label(for="defaultRadio1") 開啟
            .form-radio.form-group
                input.styled-radio(id="defaultRadio2",type="radio", name="radio-group")
                label.styled-label(for="defaultRadio2") 關閉

            .form-group
                a.text-underline(href="") 聯名卡/認同機構之個人資料使用同意條款

            .form-group
                label.form-label(for="") 選擇悠遊卡自動加值功能（自動功能開啟後即無法關閉）
                input.form-control(id="", type="text", placehilder="請輸入 6-20 位英數字",aria-describedby="idHelp") 
            .form-group
                label.form-label(for="") 再次輸入代號
                input.form-control(id="", type="text", placehilder="請輸入 6-20 位英數字", aria-describedby="idHelp") 
         
            .mt-2.mb-2
                hr.bg-grey

            .form-group
                label.form-label(for="") 設定密碼
                input.form-control(id="", type="password", placehilder="請輸入 6-20 位英數字",aria-describedby="idHelp") 
            .form-group
                label.form-label(for="") 請再次輸入密碼
                input.form-control(id="", type="password", placehilder="請輸入 6-20 位英數字", aria-describedby="idHelp") 
         

        .center.align-bottom.mt-2
            button.btn.btn-primary.disabled(type="submit") 下一步
                
