extends ../../includes/_layout_open.pug

block title
    title 請選擇你的金融卡

block scss

block js

block main

    #appOpen 
        .open-progress
            .progress-line(style="width:95%")

    .view-992
        h1.main-title.mb-2 請選擇你的金融卡
        .swiper-container#choose-card-slider
            .swiper-wrapper
                .swiper-slide  
                    .card-sldier-item_photo(style="background-image: url(" +assets+ "/images/open/creditCard/debit-01.png)")
                    .card-sldier-container
                        .card-sldier-item_title DAWHO現金回饋信用卡
                        .card-sldier-item_content
                            p 選擇後不能更換卡別喔！
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇此卡片
                .swiper-slide  
                    .card-sldier-item_photo(style="background-image: url(" +assets+ "/images/open/creditCard/debit-02.png)")
                    .card-sldier-container
                        .card-sldier-item_title 永豐SPORT卡
                        .card-sldier-item_content
                            p 選擇後不能更換卡別喔！
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇此卡片
                .swiper-slide  
                    .card-sldier-item_photo(style="background-image: url(" +assets+ "/images/open/creditCard/debit-03.png)")
                    .card-sldier-container
                        .card-sldier-item_title 永豐現金回饋卡
                        .card-sldier-item_content
                            p 選擇後不能更換卡別喔！ 
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇此卡片
                .swiper-slide  
                    .card-sldier-item_photo(style="background-image: url(" +assets+ "/images/open/creditCard/debit-01.png)")
                    .card-sldier-container
                        .card-sldier-item_title DAWHO現金回饋信用卡
                        .card-sldier-item_content
                            p 選擇後不能更換卡別喔！
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇此卡片
              
            .swiper-button-prev.card-arrow-prev
            .swiper-button-next.card-arrow-next


block js
    script(src=assets + '/js/oa-37.bundle.js' defer)


                
