extends ../../includes/_layout_open.pug

block title
    title 工作資訊

block scss

block main
    .view-992
        #appOpen  
            .bg-marble
                .open-progress
                    .progress-line(style="width:60%")

                 
                h1.main-title.pb-2 工作資訊
                form
                    .form-group.pb-0.form-disabled
                        label.form-label(for="") 教育程度
                        select.custom-select(name="")
                            option(value="") 大專/大學
                            option(value="") 高中
                            option(value="") 國中
                    
                    .mt-24.mb-24
                        hr.bg-grey

                    .form-group.form-wrap.d-flex.flex-wrap.justify-between.pb-0
                        .w100
                            label.form-label(for="") 職業類型
                        .w50-M
                            .form-group
                                select.custom-select(name="")
                                    option(value="") 請選擇職業項目
                                    option(value="") 批發及零售業
                        .w50-M
                            .form-group
                                select.custom-select(name="")
                                    option(value="") 請選擇子職業
                                    option(value="") 中古商品

                    .form-group
                        label.form-label(for="") 職稱
                        select.custom-select(name="")
                            option(value="") 一般職員
                    .form-group
                        label.form-label(for="") 年收入
                        input.form-control(id="", type="text", pattern="[0-9]*", aria-describedby="idHelp") 
                        span.unit 萬元
                    .form-group
                        label.form-label(for="") 服務機構
                        input.form-control(id="", type="text", value="臺灣新北地方檢察署", aria-describedby="idHelp") 
                    .form-group
                        label.form-label(for="") 公司電話
                        //- 區域電話欄位
                        div.tel-group
                            input.form-control.areaCode(id="", type="tel", value="02", pattern="[0-9]*", maxlength="4") 
                            input.form-control.number(id="", type="tel", pattern="[0-9]*", value="23183752")  
                        small.form-text.text-danger.f13 required

                    .form-group.form-wrap.d-flex.flex-wrap.justify-between.pb-0
                        .w100
                            label.form-label(for="") 
                                | 公司地址
                                span.form-note  (選填)
                        .w50-M
                            .form-group
                                select.custom-select(name="")
                                    option(value="") 台北市
                                    option(value="") 新北市
                        .w50-M
                            .form-group
                                select.custom-select(name="")
                                    option(value="") 中正區
                                    option(value="") 汐止區
                    .form-group
                        input.form-control(id="", type="text", value="中正路一號" ,aria-describedby="idHelp") 
                        .bg-yellow 如需將金融卡寄送到公司地址，請於此階段填寫

                    .mt-1.mb-1
                        hr.bg-grey

                    .form-group
                        label.form-label(for="") 開戶目的
                        select.custom-select(name="")
                            option(value="") 儲蓄

                    .form-group.pb-0
                        label.form-label(for="") 財富/資金來源 (最多複選5項)
                    .toggle
                        .bubble(v-for="(item, i) in financial", :key="i", @click.prevent="toggleBubble(i)", :class="{'active': item.status == true}") 
                            span.icon 
                            span.text
                                | {{item.from}}    
                                span.other(v-if="item.input", @click.stop="") 
                                    input(type="text", placeholder="請輸入...", maxlength="10") 
                    .mt-1.mb-1
                        hr.bg-grey

                    .form-group.pb-0
                        label.form-label(for="")
                            | 推薦人代碼
                            span.form-note  (選填)
                        input.form-control(id="", type="text" ,aria-describedby="idHelp") 
                        

                .bottom-area.center.align-bottom
                    button.btn.btn-primary.disabled(type="submit") 下一步
                        

block js