extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss
block js

block main
    #appOpen
        .open-progress
            .progress-line(style="width:55%")
        .view-992
            h1.main-title 聯絡資訊
            form
                .form-group.form-disabled
                    label.form-label(for="") 行動電話
                    input.form-control(id="", type="text", value="0923555944" ,aria-describedby="idHelp") 
                .form-group
                    label.form-label(for="") Email
                    input.form-control(id="", type="Email", value="abc＠gmail.com", aria-describedby="idHelp") 
                    small.form-note 網路銀行交易通知將會發送至此Email

                .mt-1.mb-1
                    hr.bg-grey

                .form-group.sm
                    label.form-label(for="") 戶籍地址
                    select.custom-select(name="")
                        option(value="") 台北市中正區
                        option(value="") 新北市汐止區
                .form-group
                    input.form-control(id="", type="text", value="中正路一號" ,aria-describedby="idHelp") 
                    
                .form-group
                    label.form-label(for="") 戶籍電話 (選填)
                    input.form-control(id="", type="tel", value="02-23183752", aria-describedby="telHelp") 
                    small.form-text.text-danger.f13 required
                
                .mt-1.mb-1
                    hr.bg-grey

                .form-group
                    label.form-label(for="") 現居地址
                .form-radio.form-group
                    input.styled-radio(id="defaultRadio1",type="radio", name="radio-group", checked="checked")
                    label.styled-label(for="defaultRadio1") 與戶籍地址相同
                .form-radio.form-group
                    input.styled-radio(id="defaultRadio2",type="radio", name="radio-group")
                    label.styled-label(for="defaultRadio2") 使用其他地址
                .form-group.sm
                    select.custom-select(name="")
                        option(value="") 新北市汐止區
                        option(value="") 台北市中正區
                .form-group
                    input.form-control(id="", type="text", value="汐萬路一段39-3號" ,aria-describedby="idHelp") 
                    

                .form-group
                    label.form-label(for="") 現居電話
                .form-radio.form-group
                    input.styled-radio(id="tel",type="radio", name="radio-group-2", checked="checked")
                    label.styled-label(for="tel") 與戶籍電話相同
                .form-radio.form-group
                    input.styled-radio(id="tel2",type="radio", name="radio-group-2")
                    label.styled-label(for="tel2") 使用其他電話號碼
                .form-group
                    input.form-control(id="", type="tel", value="02-23183752", aria-describedby="telHelp") 

            .center.align-bottom.mt-2
                button.btn.btn-primary.disabled(type="submit") 下一步
                    
