extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss

block js

block main
    .view-992#appOpen
        h1.main-title 設定代號與密碼
        p.title-pdm 數位帳戶審核成功後，請用現在設定的網路銀行使用者代號及密碼登入；若為本行卡友，將同步更新
        form
            .form-group
                label.form-label(for="") 設定代號
                input.form-control(id="", type="text", placehilder="請輸入 6-20 位英數字",aria-describedby="idHelp") 
            .form-group
                label.form-label(for="") 再次輸入代號
                input.form-control(id="", type="text", placehilder="請輸入 6-20 位英數字", aria-describedby="idHelp") 
         
            .mt-2.mb-2
                hr.bg-grey

            .form-group
                label.form-label(for="") 設定密碼
                input.form-control(id="", type="password", placehilder="請輸入 6-20 位英數字",aria-describedby="idHelp") 
            .form-group
                label.form-label(for="") 請再次輸入密碼
                input.form-control(id="", type="password", placehilder="請輸入 6-20 位英數字", aria-describedby="idHelp") 
         

        .center.align-bottom.mt-2
            button.btn.btn-primary.disabled(type="submit") 下一步
                
