extends ../../includes/_layout_open.pug

block title
    title 填寫個人資料

block scss


block main
    .view-992 
        #appOpen 
            .intro-steps.intro-steps_3
                .intro-steps-title
                    .intro-steps_step 
                        img(src=assets + "/images/open/steps/step-03.svg", alt="03/5")
                    h1.intro-steps_ttl.letterSpace 填寫個人資料
                    h2.intro-steps_sub 請準備你的身分證及第二證件

                .intro-steps-button
                    a.btn.btn-steps(href="") 
                        span 繼續完成



block js
     