extends ../../includes/_layout_open.pug

block title
    title 基本資訊

block scss

block js

block main
    #appOpen
        .open-progress
            .progress-line(style="width:60%")
        .view-992
            h1.main-title.mt-2 基本資訊
            form
                //- .invalid-error
                .form-group
                    label.form-label(for="") 中文姓名
                    input.form-control(id="", type="text", placeholder="小美", aria-describedby="idHelp") 
                    //-small.form-text.text-danger.f13 required
                .form-group
                    label.form-label(for="") 中文姓名
                    input.form-control(id="", type="text", placeholder="小美", aria-describedby="idHelp") 
                    //- small.form-text.text-danger.f13 required
                    small.form-note 
                        | 請與護照或 
                        a.text-underline(href="") 外交部姓名中譯英系統
                        | 拼音相同，非前述資料，將無法申辦國外匯兌等業務。
                .form-group
                    label.form-label(for="") 身分證字號
                    input.form-control(id="", type="text", placeholder="A123456789", aria-describedby="telHelp") 
                    //- small.form-text.text-danger.f13 required
                .form-group
                    label.form-label(for="") 出生日期
                    input.form-control(id="", type="tel", placeholder="1994/01/01", aria-describedby="telHelp") 
                    //- small.form-text.text-danger.f13 required
                .form-group.form-wrap.d-flex.flex-wrap.justify-between
                    .w100
                        label.form-label(for="") 領證換發類別
                    .w50-M
                        .form-group
                            select.custom-select(name="")
                                option(value="") 補發
                                option(value="") 新辦
                    .w50-M
                        .form-group
                            select.custom-select(name="")
                                option(value="") 基隆市
                                option(value="") 台北市
                .form-group
                    label.form-label(for="") 身分證發證日期
                    input.form-control(id="", type="tel", placeholder="0840105", aria-describedby="telHelp") 
                    //- small.form-text.text-danger.f13 required

            .bottom-area.center.align-bottom
                button.btn.btn-primary.disabled(type="submit") 下一步
                    
