extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss


block main
    #appOpen 
        .intro-steps.intro-steps_4
            .intro-steps-title
                .intro-steps_step 
                    img(src=assets + "/images/open/steps/step-04.svg", alt="04/5")
                h1.intro-steps_ttl 帳號密碼
                h2.intro-steps_sub 設定你的專屬帳號密碼

            .intro-steps-button
                a.btn.btn-steps(href="") 
                    span 繼續完成



block js
     