extends ../../includes/_layout_open.pug

block title
    title 歡迎回來讓我們繼續完成申請吧

block scss


block main
    .view-992
        #appOpen 
            .bg-marble
                .open-progress
                    .progress-line(style="width:10%")
                .open-wrapper.step-wrapper
                    section.view.d-flex 
                        .step-wrapper_title.text-left
                            h1.main-title.text-black
                                | 歡迎回來
                                br
                                | 讓我們繼續完成申請吧
                        
                        .step-check
                            ul.step-check-ul  
                                li.step-check-list.active
                                    span.step-check-icon
                                    span.step-check-status
                                        span.step-check-status_ttl 完成身份驗證
                                        span.step-check-status_des 你已透過信用卡
                                            span.pc-break 進行身份驗證
                                            
                                    a.step-check-link(href="#") 
                                        span.txt 變更
                                        span.icon  
                                            img(src=assets + "/images/open/icon/arrow-right@3x.png", alt="arrow")
                                li.step-check-list
                                    span.step-check-icon
                                    span.step-check-status
                                        span.step-check-status_ttl 填寫個人資料
                                li.step-check-list
                                    span.step-check-icon
                                    span.step-check-status
                                        span.step-check-status_ttl 設定理財密碼
                                li.step-check-list
                                    span.step-check-icon
                                    span.step-check-status
                                        span.step-check-status_ttl 
                                            | 設定網路銀行
                                            br
                                            | 帳號密碼
                                    
                    .bottom-area-box             
                        .bottom-area.center.align-bottom
                            button.btn.btn-primary(type="submit") 繼續完成     



block js
    