extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss

block js
    script(src=assets + '/js/open.bundle.js' defer)

block main

    #appOpen
        .open-progress
            .progress-line(style="width:10%")

        .view-992
            h1.main-title 請輸入行動電話
            form
                .form-group.invalid-error
                    input.form-control(id="", type="tel", placeholder="請輸入行動電話", aria-describedby="telHelp") 
                    small.form-text.text-danger.f13 行動電話格式錯誤
            
            .center.align-bottom
                button.btn.btn-primary.disabled(type="submit") 發送驗證碼
                
