extends ../../includes/_layout_open.pug

block title
    title 開戶進度查詢

block scss
    

block js

block main
    #appOpen
        .open-progress
            .progress-line(style="width:15%")

        .view-992
            h1.main-title.mb-0 請輸入驗證碼
            h2.sub-title 驗證碼已發送 至 0956 ... 888
            form(style="max-width:350px;margin:0 auto")
                .form-group.seperate-input
                    input.form-control(id="", type="text", maxlength="1")
                    input.form-control(id="", type="text", maxlength="1") 
                    input.form-control(id="", type="text", maxlength="1") 
                    input.form-control(id="", type="text", maxlength="1") 
                    input.form-control(id="", type="text", maxlength="1") 
                    input.form-control(id="", type="text", maxlength="1") 
                p.note.text-center 驗證碼將在 1分52秒 失效
                p.text-center.f14.mt-1.mb-2 每日驗證碼發送上限為5次，剩餘4次 
            .center.align-bottom
                button.btn.btn-primary(type="submit") 送出
                
                
