extends ../../includes/_layout_oas.pug

block title
    title 審核不通過

block scss


block main
    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-8.svg", alt="審核不通過")
                        .status-title 審核不通過
                        .status-content SORRY…大大還沒有線上開戶的資格喔

                

block js
   
