extends ../../includes/_layout_oas.pug

block title
    title 審核不通過

block scss
    

block js
   

block main
    #appOas.sub-content
        .view-992.just-content-between
            .status
                .status-image
                    img(src=assets + "/images/oas/steps/step-8.svg", alt="審核不通過")
                .status-title 審核不通過
                .status-content SORRY…大大還沒有線上開戶的資格喔

            .bottom-area.center.align-bottom
                button.btn.btn-primary(type="submit") 我要當大戶
                

block js
   
