extends ../../includes/_layout_oas.pug

block title
    title 申請已被取消

block scss
    

block main
    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-7.svg", alt="申請已被取消")
                        .status-title 申請已被取消
                        .status-content SORRY...大大沒在7日內完成線上補件，為保護大大的個人資料，我們已經取消你的申請，如果想繼續成為大戶，請重新送出申請喔！


                    .center.align-bottom
                        button.btn.btn-primary(type="submit") 我要當大戶
                        

block js
   
