extends ../../includes/_layout_oas.pug

block title
    title 申請審查中

block scss
    
block main

    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-6.svg", alt="申請審查中")
                        .status-title 申請審查中
                        .status-content 
                            | 已經收到大大的申請囉，
                            br
                            | 7~14個工作日等著當大戶！

                    .center.align-bottom
                        button.btn.btn-primary(type="submit") 大戶專屬優惠
        
block js                        
