extends ../../includes/_layout_oas.pug
block title
    title 需要補件

block scss
    

block main
    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-1.svg", alt="需要補件")
                        .status-title 需要補件
                        .status-content 
                            p.text-white 請重新上傳以下證件
                            ul.ul-list
                                li
                                    a.link(href="#") ・身分證
                                li
                                    a.link(href="#") ・第二證件
                    .bottom-area-box   
                        .center.align-bottom.bottom-area
                            button.btn.btn-primary(type="submit") 開始補件
                    

block js               
                
