extends ../../includes/_layout_oas.pug

block title
    title 查無申請中資料

block scss
    
block main

    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-5.svg", alt="查無申請中資料")
                        .status-title 查無申請中資料

                    .center.align-bottom
                        p.f14.text-white.mb-1 當大戶的好，開過就明瞭
                        button.btn.btn-primary(type="submit") 立即開戶
                        

block js
   
