extends ../../includes/_layout_oas.pug

block title
    title 開戶進度查詢

block scss
    

block js
   

block main
    .view
        .status
            .status-image
                img(src=assets + "/images/substitute/steps/step-6@2x.png", alt="")
            .status-title 審核不通過
            .status-content 
                | 很抱歉，您不符合
                br
                | 線上開戶資格