extends ../../includes/_layout_oas.pug

block title
    title 補件完成

block scss
    
block main

    #appOas.sub-content
        .view-992.just-content-between
            .status
                .status-image
                    img(src=assets + "/images/oas/steps/step-3.svg", alt="補件完成")
                .status-title 補件完成
                

            .bottom-area.center.align-bottom
                p.f14.text-white.mb-1 如需其他服務，請與客服聯繫
                button.btn.btn-primary(type="submit") 智慧小豐 
                    

block js
