extends ../../includes/_layout_oas.pug

block title
    title 開戶進度查詢

block scss
    

block js

block main
    .view
        .status
            .status-image
                img(src=assets + "/images/substitute/steps/step-1@2x.png", alt="")
            .status-title 補件完成
            

        .center.align-bottom
            p.f14.txt-note 如需其他服務，請與客服聯繫
            p.f14.txt-note 02-2505-9999
        
               
                
                
