extends ../../includes/_layout_oas.pug

block title
    title 案件尚未完成申請

block scss


block main

    .view-992
        #appOas
            .bg-gradient
                .just-content-between-wrapper
                    .status
                        .status-image
                            img(src=assets + "/images/oas/steps/step-4.svg", alt="案件尚未完成申請")
                        .status-title 尚未完成大戶申請
                        .status-content 帶著身分證、第二證件至任一分行進行驗證就能當大戶啦


                    .center.align-bottom
                        button.btn.btn-primary(type="submit") 點我看分行據點
                    
                    
                        

block js
   
         
