extends ../../includes/_layout_oas.pug

block title
    title 開戶進度查詢

block scss
    

block js
    
block main
    .view
        .status
            .status-image
                img(src=assets + "/images/substitute/steps/step-5@2x.png", alt="")
            .status-title 申請已被取消
            .status-content 
                | 很抱歉，因你已於 <span class="link">2020.03.11</span> 自行取消
                br
                | DAWHO帳戶的申請。如果想要繼續成為大戶，
                br 
                | 請重新申請


        .center.align-bottom
            button.btn.btn-primary(type="submit") 立即開戶
        
               
                
                
