extends ../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        h1.main-title 你是哪位大戶呢？
        form
            .form-group
                label.form-label(for="") 身分證字號
                input.form-control(id="", type="text", placeholder="請輸入身分證字號", aria-describedby="emailHelp") 
                small.form-text.text-muted required
            .form-group
                label.form-label(for="") 行動電話
                input.form-control(id="", type="tel", placeholder="請輸入行動電話", aria-describedby="emailHelp") 
                small.form-text.text-muted required
        .center.align-bottom
            button.btn.btn-primary(type="submit") 查詢進度
                
