extends ../includes/_layout.pug

block title
    title 等級權益

block scss
    link(rel='stylesheet', href='/lib/styles/swiper.min.css')
    link(rel='stylesheet', href='/assets/styles/discount.css')

block main
    div#appUpgrade
        h1.header 我的等級
        img(src="/assets/images/badge/dada.png", width="100", alt="")

        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .bg_white test1

                .swiper-slide
                    .bg_white test2


block js
    script(src='/lib/js/swiper.min.js' defer)
    script(src='/assets/js/discont.bundle.js' defer)
