extends ../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        .status
            .status-image
                img(src="/assets/images/substitute/steps/step-4@2x.png", alt="")
            .status-title 申請審查中
            .status-content 
                | 我們已收到你的申請囉！
                br
                | 將於 7 到 14 個工作日完成審核

        .center.align-bottom
            button.btn.btn-primary(type="submit") 了解大戶優惠
        
               
                
                
