
extends ../includes/_layout.pug

block title
    title ci_1-1

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/loan.css')

include ../includes/components.pug
block main
    div#appCardless.qa
        header
            img.back(src=assets+"/images/icon/arrow-left.svg" alt="")
            p.title 貸款

        h4.f24.f_b 如何使用無卡提款？

        ul.QA
            li
                p.title
                    span.f_gold Q1
                    span 申請無卡提款需要什麼條件？
                .content
                    ul.number
                        li
                            span 1
                            | 須持有永豐銀行晶片金融卡
                        li
                            span 2
                            | 為MMA金融交易網具交易權限之個人會員

            li
                p.title
                    span.f_gold Q2
                    span 如何申請無卡提款？

                .content
                    | 請攜帶本行晶片金融卡至
                    a(href="#") 本行設置之ATM
                    | 進行設定，完成後開啟行動銀行APP進行行動裝置授權，設定成功後即可使用無卡提款。

            li
                p.title
                    span.f_gold Q3
                    span 可以申請幾組提款帳號？
                .content
                    | 每一晶片金融卡僅能設定印刷帳號之主帳號為無卡提款帳號。

            li
                p.title
                    span.f_gold Q4
                    span 有提款筆數及金額限制嗎？
                .content
                    ul.number
                        li
                            span 1
                            | 同一時間僅能預約一筆，如取消該筆預約無卡提款紀錄或提款序號超過時效，方可進行下一筆預約。
                        li
                            span 2
                            |  每筆限額:自行新臺幣30,000元，美金900元，港幣7,000元，日幣100,000元，人民幣3,000元;跨行新臺幣20,000元。
                        li
                            span 3
                            |  每日限額(台、外幣合併計算):新臺幣30,000元，美金900元，港幣7,000元，日幣100,000元，人民幣6,000元，累積等值新臺幣30,000元。(依帳號與實體 金融卡國內、外提款/消費扣款合併計算)。
                        li
                            span 4
                            |  無卡提領外幣現鈔，如以新臺幣帳號扣帳，所領取之外幣金額以實際取款當時，本行掛牌外幣現鈔賣出匯率折合新臺幣金額扣帳。

            li
                p.title
                    span.f_gold Q5
                    span 如何授權我的行動裝置？
                .content
                    | 請至行動銀行APP「我的設定」>「管理我的行動裝置」進行行動裝置授權。

            li
                p.title
                    span.f_gold Q6
                    span 手機遺失怎麼辦？
                .content
                    | 若不慎忘記或行動裝置遺失，請洽本行客服02-2505-9999，刪除該行動裝置之授權；或至以下平台進行刪除裝置授權：
                    ul.number.mr16
                        li
                            span 1
                            | 永豐行動銀行-APP：「我的設定」>「管理我的行動裝置」。
                        li
                            span 2
                            | 永豐行動銀行-行動網頁版：「我的設定」>「管理我的行動裝置」。
                        li
                            span 3
                            | MMA金融交易網：「申請/設定」>「服務/帳號設定」>「管理我的行動裝置」。


            li
                p.title
                    span.f_gold Q7
                    span 無卡提款密碼錯誤次數上限？
                .content
                    | 無卡提款密碼錯誤上限為五次，連續錯誤達上限即關閉無卡提款服務，如須重新啟用，請攜帶本行晶片金融卡至本行設置之ATM進行設定。

            li
                p.title
                    span.f_gold Q8
                    span 如何關閉無卡提款？
                .content
                    | 如欲關閉無卡提款服務，得以下列三種方式為之：
                    ul.number.mr16
                        li
                            span 1
                            | 攜帶本行晶片金融卡，至本行設置之ATM進行關閉無卡提款服務。
                        li
                            span 2
                            | 進入行動銀行 >「豐雲櫃台」>「無卡提款」>「查詢/關閉無卡提款服務」，點選【關閉】功能鍵，即關閉無卡提款服務。
                        li
                            span 3
                            | 撥打本行客服專線02-2505-9999由專人為您服務。

            li
                p.title
                    span.f_gold Q9
                    span 忘記無卡提款密碼怎麼辦？
                .content
                    | 可攜帶本行晶片金融卡，至本行設置之ATM進行重新設定無卡提款密碼。



block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/cardless.bundle.js' defer)

