
extends ../includes/_layout.pug

block title
    title cw_1-6

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/result.css')

include ../includes/components.pug

block main
    div#appCardless
        header
            h1
                img.back(src=assets+"/images/icon/arrow-left.svg" alt="")
                | 無卡提款
                img.dots(src=assets+"/images/icon/more_black.jpg" alt="")

        .status_wrapper.error
            img.status(src=assets+"/images/ufo.png", alt="")
            h5.f_white 取號失敗

        .W100
            p.f16.error_msg
                | 新臺幣每日提款上限為 30,000 元，
                br
                | 您本日已超過提款上限，請重新調整
                br
                | 提款金額或明日再次申請。

            .btn_wrapper
                a.btn_gold(href="#") 重新申請
                a.btn_gold_light(href="#")
                    span 提款記錄查詢

            +notice(15)




block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
    script(src= assets + '/js/result.bundle.js' defer)

