
extends ../includes/_layout.pug

block title
    title cw_1-3

block scss
    link(rel='stylesheet' href= assets + '/styles/cardless.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')

include ../includes/components.pug
block main
    div#appCardless
        header
            img.back(src=assets+"/images/icon/arrow-left.svg" alt="")
            p.title 無卡提款
            img.left(src=assets+"/images/icon/more.svg" alt="")

        div#appCardlessContent
            div.account
                p.account-title 扣款帳號
                div.account-info
                    p 營業部活期存款
                    p (807)0016893949394934
                    img(src=assets+"/images/more.png" alt="")
            div.info
                div.item
                    p.name 交易時間
                    p.data 2020/04/30
                hr
                div.item
                    p.name 提款幣別
                    p.data
                +dropdown(['美金','新台幣'],'請選擇提款幣別')
                div.item
                    p.name 提款金額
                    p.data 帳戶餘額 8,900元
                input.money(placeholder='請輸入提款金額' type="number" pattern="[0-9]*" inputmode="numeric" min=1000 max=30000)
                p.money-note
                    span.note 以千元為單位，自行提領最高3萬元，跨行最高2萬元
                p.money-note
                    span.hint 新台幣以千元為單位
                div.quick
                    button.active(data-price="3000") 3,000
                    button.active(data-price="5000") 5,000
                    button(data-price="9000") 9,000
                    button(data-price="13000") 13,000
            .buttons
                button.gogo 我要提領
                button.record
                    span 提款記錄查詢
            +notice(15)



block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/cardless.bundle.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)

