extends ../includes/chaxun-record/_layout.pug

block title
    title cw_2-4

block scss
    link(rel='stylesheet' href= assets + '/styles/chaxun-record.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')


block main
    div#appChaxunRecord
        include ../includes/chaxun-record/_container.search.pug
        +_containerSearch("cancel", true)



block js
    script(src= assets + '/js/chaxun-record.bundle.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)

