extends ../includes/_layout.pug

block title
    title cw_3-2

block scss
    link(rel='stylesheet' href= assets + '/styles/tikuan-setting.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')


block main
    div#appTikuanSetting
        include ../includes/tikuan-setting/_container.pug
        +_container(false)

block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
