
extends ../includes/_layout.pug

block title
    title cw_1-4

block scss
    link(rel='stylesheet' href= assets + '/styles/env_index.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')

include ../includes/components.pug
block main
    div#env_index


block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/cardless.bundle.js' defer)

