extends ../includes/_layout.pug

block title
    title 歷史等級tooltips


block main
    .tooltips_content
        | 每個營業日下午1點結算資產餘額(含台外幣活存、台外幣定存、基金庫存淨值、ibrAin庫存淨值)，每月第一個營業日計算每日平均加總值，作為平均財富最後計算結果，超過10萬元即可於次月提升等級。


