extends ../includes/_layout.pug

block title
    title 完整優惠

block scss
    link(rel='stylesheet', href= assets + '/styles/discount.css')

block main
    ul.rights_content
        li.W50.miss
            img(src=assets +"/images/icon/22_grey.svg", alt="")
            p 臺幣活存利率
            h6
                font 1.1
                | %
        li.W50.miss
            img(src=assets +"/images/icon/23_grey.svg", alt="")
            p 免費跨提轉
            h6
                font 16
                | 次
        li.W50.miss
            img(src=assets +"/images/icon/24_grey.svg", alt="")
            p 國內刷卡最高回饋
            h6
                font 7
                | %
        li.W50.miss
            img(src=assets +"/images/icon/25_grey.svg", alt="")
            p 國外刷卡最高回饋
            h6
                font 8
                | %



