
extends ../includes/youhui-detail/_layout.pug

block title
    title 大戶優惠詳情

block scss
    link(rel='stylesheet' href='/assets/styles/youhui-detail.css')


block main
    div#appYouhuiDetailContent
        div.swipe-abroad.detail-content(data-detail-content='swipe-abroad')
                h1 國外刷卡回饋最高
                    h2 8
                        span %
                div.mixed
                    div.mixed--content
                        p.mixed--content--title 1%
                        p.mixed--content--desc 一般消費
                        p.mixed--content--note
                    div.mixed--content
                        p.mixed--content--title 2%
                        p.mixed--content--desc 完成指定任務
                        p.mixed--content--note 上限200元/月
                    div.mixed--content
                        p.mixed--content--title 5%
                        p.mixed--content--desc 特色通路消費
                        p.mixed--content--note 上限600元/月
                div.mission
                    p.mission--title 指定任務
                    p.mission--desc 使用電子帳單並綁定帳戶自動扣繳
                div.info
                    h1 回饋說明
                    p.desc 國外刷卡回饋認定方式需同時滿足已下條件
                    ul
                        li 交易商店之國別須為非台灣地區(台、澎、
                            p 金、馬)
                        li 交易幣別需為新台幣以外之一般交易(不含
                            p 國外消費結匯手續費)
                hr
                include ../includes/youhui-detail/channels.pug


block js
    script(src='/assets/js/youhui-detail.bundle.js' defer)
