extends ../includes/youhui-detail/_layout.pug

block title
    title 大戶優惠詳情

block scss
    link(rel='stylesheet' href='/assets/styles/youhui-detail.css')


block main
    div#appYouhuiDetail
        include ../includes/youhui-detail/_header.pug




block js
    script(src='/assets/js/youhui-detail.bundle.js' defer)

