
extends ../includes/jiaofei/_layout.pug

block title
    title pm_1-7

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    div#appJiaofei
        +_header("電信費繳費", 'white')
        div#appJiaofeiContent
            div.jiaofeiProcess.mt-32
                div.process-container.mb-32
                    ul.process-info
                        li
                            p.info-type 身分證字號
                            p.info-value H23456 • • • •
                        li
                            p.info-type 電信公司
                            p.info-value 中華電信
                        li
                            p.info-type 電信號碼
                            p.info-value 0932123456
                hr
                div.process-container.mt-24.mb-24
                    p.process-title.mb-8 帳單資訊
                    div.process-bill-info
                        p.bill-info-name 2020年4月行動電話費
                        p.bill-info-value 新臺幣 2,000 元
                hr
                div.process-container.mt-24.mb-32
                    p.process-title.mb-8 扣款帳號
                    div.process-account
                        p.process-account-name.mb-8
                            | 營業部活期存款
                            span (807)0016893949394934

                button.btnDefault.mb-32() 下一步

block js

