
extends ../includes/jiaofei/_layout.pug

block title
    title pm_2-2

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    style(type="text/css").
        body {
            height: 100vh;
            overflow: hidden;
        }
    div#appJiaofei
        .drawer(class='show', :class=("{ 'show' : drawerCreditCommonCreate}"))
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 新增常用信用卡
                    a.f_gold.f_b(@click="switchDrawer('drawerCreditCommonCreate', true)" href="javascript:void(0)") 取消
                div.drawer-content
                    div.create-type.mb-16
                        p.title.mb-8 銀行代碼
                        input.jf-input.bank-code(type="text" readonly :value='valueCommonBank' @click.prevent="switchDrawer('drawerCommonBankCode', true)" placeholder='請選擇銀行代碼')
                    div.create-type.mb-16
                        p.title.mb-8 信用卡卡號
                        div.jf-creditCard(:class=("{ 'focus' : jfCreditCard}"))
                            input.jf-creditCard-input#CN1(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='1234' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="cc-number")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN2(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='5678' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN3(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='9011' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN4(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='1213' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                    div.create-type.mb-16
                        p.title.mb-8 卡片名稱
                        input.jf-input(type="text" v-model="ccCreditName" placeholder='請輸入卡片名稱')
                a.btn_gold(@click="switchDrawer('drawerCreditCommonCreate', false)", :class=("{ 'btn_grey' : !(ccCreditName!=''&&ccCreditNumber.length>=25)}"), href="javascript:void(0)") 確認

        .drawer(class='', :class=("{ 'show' : drawerCommonBankCode}"))
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b
                    a.f_gold.f_b.mb-16(@click="switchDrawer('drawerCommonBankCode', false)" href="javascript:void(0)") 取消
                    div.search-input.mt-16
                        span.bank-code-search-icon(:class=("{'close':searchCommonValue!=''}"), @click="searchCommonValue = ''")
                        input.jf-input.bank-code-search(type="text" v-model="searchCommonValue" placeholder='搜尋銀行代碼')
                div.drawer-content.bank
                    div.empty(v-if='filteredCommonBankList.length==0')
                        img(src=assets+"/images/jiaofei/no-result.svg")
                        p
                            | 搜尋的銀行目前不在合作夥伴內
                            br
                            | 試試看其他家銀行吧！
                    ul.bank-code-list(v-if='filteredCommonBankList.length>=1')
                        li(v-for="(item, index) in filteredCommonBankList")
                            p(@click="valueCommonBank = `${item.code} ${item.name}`;switchDrawer('drawerCommonBankCode', false)")
                                span {{item.code}}
                                | {{item.name}}
                a.btn_gold(@click="valueCommonBank=''; switchDrawer('drawerCommonBankCode', false)", :class=(""), href="javascript:void(0)") 關閉

block js


