
extends ../includes/jiaofei/_layout.pug

block title
    title pm_2-1-2

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    div#appJiaofei
        +_header("他行信用卡繳費", 'white')
        div#appJiaofeiContent
            div.jiaofeiProcess.mt-24
                div.process-container.mb-24
                    p.process-title.mb-8 身分證字號
                    input.jf-input(type="text" value='H2356•••••' placeholder='請輸入身分證字號')
                hr
                div.process-container.mb-24
                    div.process-credit.mt-24
                        div.process-credit-info.mb-8
                            p.credit-info-title 繳費對象
                            div.create-num(v-on:click="switchDrawer('drawerProcessCommonCreate', true)")
                                img(src=assets+"/images/jiaofei/add-go.svg")
                                p.gold 常用信用卡
                        input.jf-input.bank-code(type="text" readonly :value='valueBank' @click.prevent="switchDrawer('drawerBankCode', true)" placeholder='請選擇銀行代碼')
                        input.jf-input.disable(type="text" value='123456789111213' placeholder='請輸入信用卡卡號或銷帳編號')
                        p.credit-fail.mt-8 信用卡號與銀行代碼不相符
                    p.process-title.mt-16.mb-8 繳費金額
                    input.jf-input(type="tel",:class="{disable: creditMoney=='0'}", value="1020", placeholder='請輸入繳費金額')
                    p.hint-zero(v-if="creditMoney=='0'") 繳費金額不能為０
                hr
                div.process-container.mt-24.mb-32
                    p.process-title.mb-8 扣款帳號
                    div.process-account
                        p.process-account-name.mb-8
                            | 營業部活期存款
                            span (807)0016893949394934
                        p.process-account-price 帳戶餘額 37,400 元

                button.btnDefault.disable 確認
                +notice('process-credit')

        .drawer(class='', :class=("{ 'show' : drawerBankCode}"))
            .drawer-container
                div.drawer-head.mb-24
                    a.f_gold.f_b.mb-16(@click="switchDrawer('drawerBankCode', false)" href="javascript:void(0)") 取消
                    div.search-input.mt-16
                        span.bank-code-search-icon(:class=("{'close':searchValue!=''}"), @click="searchValue = ''")
                        input.jf-input.bank-code-search(type="text" v-model="searchValue" placeholder='搜尋銀行代碼')
                div.drawer-content.bank
                    div.empty(v-if='filteredBankList.length==0')
                        img(src=assets+"/images/jiaofei/no-result.svg")
                        p
                            | 搜尋的銀行目前不在合作夥伴內
                            br
                            | 試試看其他家銀行吧！
                    ul.bank-code-list(v-if='filteredBankList.length>=1')
                        li(v-for="(item, index) in filteredBankList")
                            p(@click="valueBank = `${item.code} ${item.name}`;switchDrawer('drawerBankCode', false);")
                                span {{item.code}}
                                | {{item.name}}
block js

