
extends ../includes/jiaofei/_layout.pug

block title
    title pm_2-5

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    div#appJiaofei
        +_header("繳費確認", 'white')
        div#appJiaofeiContent
            div.jiaofeiProcess.mt-32
                div.credit-confirm.mb-32
                    div.process-container.mt-16.mb-16
                        p.process-title.mb-16 帳單資訊
                        div.process-credit-bill
                            div.process-credit-bill-info.mb-12
                                p.bill-credit-info-name 身分證字號
                                p.bill-credit-info-value H23456 • • • •
                            div.process-credit-bill-info.mb-12
                                p.bill-credit-info-name 繳款對象
                                p.bill-credit-info-value 台灣銀行
                            div.process-credit-bill-info.mb-12
                                p.bill-credit-info-name 信用卡號
                                p.bill-credit-info-value 1234 5678 9011 1213
                            div.process-credit-bill-info.mb-12
                                p.bill-credit-info-name 繳費金額
                                p.bill-credit-info-value.gold-bold 新臺幣 1,020 元
                    hr
                    div.process-container.mt-24
                        p.process-title.mb-8 扣款帳號
                        div.process-account
                            p.process-account-name.mb-8
                                | 營業部活期存款
                                span (807)0016893949394934

                button.btnDefault.mb-32() 確認繳費

block js


