
extends ../includes/_layout.pug

block title
    title re_1-7

block scss
    link(rel='stylesheet', href= public +'/lib/styles/swiper.min.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/re.css')


include ../includes/components.pug
block main
    div#Friends
        h1.header
                .back DAWHO好友

        .content
            img.contact(src=assets+"/images/icon/contact.svg", alt="")

            a.btn_gold(href="#") 從手機通訊錄匯入
            a.btn_gold_light(href="#")
                span 從常用號碼匯入



block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= public +'/lib/js/swiper.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
    script(src= assets + '/js/re.bundle.js' defer)


