
extends ../includes/_layout.pug

block title
    title re_1-9

block scss
    link(rel='stylesheet', href= public +'/lib/styles/swiper.min.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/re.css')


include ../includes/components.pug
block main
    div#Friends
        h1.header
                .back DAWHO好友

        .content.receive
            .receive_th
                h6.f16 發送對象
                a.add_friend.f_gold.f14(href="#") 匯入好友
            ul.receive-info.scroll
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status
                            a.regular 設為常用
                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status
                            span.added 已新增

                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status
                            a.error 無法發送

                    div.num-list-delete
                        p 刪除

                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status
                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status

                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status
                            span.added 已新增

                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status

                    div.num-list-delete
                        p 刪除

                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status
                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status

                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status

                    div.num-list-delete
                        p 刪除
                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 張曉涵
                            p.num 052311234
                        div.status

                    div.num-list-delete
                        p 刪除

                li
                    div.num-list-container.bg_white
                        div.num-content
                            p.name 艾力克斯
                            p.num 052311234
                        div.status
                    div.num-list-delete
                        p 刪除



            .btn_area.fixed
                p.f_grey_03.f14.t_left 每次最多發送給50位好友，還可新增2位
                a.btn_gold 下一步



block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= public + '/lib/js/hammer.min.js' defer)
    script(src= public + '/lib/js/jquery.hammer.js' defer)
    script(src= public +'/lib/js/swiper.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
    script(src= assets + '/js/re.bundle.js' defer)


