
extends ../includes/hongbao/_layout.pug

block title
    title re_2-5

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/hongbao.css')

include ../includes/hongbao/ui.pug
include ../includes/components.pug
block main
    style(type='text/css').
        body{
            background: url('#{assets}/images/hongbao/red-envelope-2.svg') no-repeat;
            background-size: calc(100%);
            background-repeat: no-repeat;
            background-position: center 35%;
        }
    div#appHongbao.info
        +_contentReceive('already')

block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/hongbao.bundle.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)


