
extends ../includes/hongbao/_layout.pug

block title
    title re_3-1

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/hongbao.css')

include ../includes/hongbao/ui.pug
include ../includes/components.pug
block main
    style(type='text/css').
        body{
            background-image: linear-gradient(to bottom, #36363b 15%, #1f1f23);
        }
    div#appHongbao
        +_header("紅包紀錄", 'black')
        - var status = '已發送'
        div#appHongbaoContent
            div.hongbaoRecord
                nav.navbar
                    ul.menu
                        li.item(class=(status==='待領取') ? 'active' : '')
                            p 待領取
                        li.item(class=(status==='已發送') ? 'active' : '')
                            p 已發送
                        li.item(class=(status==='已領取') ? 'active' : '')
                            p 已領取
                div.container
                    div.record
                        div.record-up
                            img.bg(src=assets+"/images/hongbao/pattern2/1/4.png" alt="")
                            div.money
                                p.title 我吃土，你發財！
                                div.total
                                    div.total-left
                                    div.total-center
                                        p 總金額
                                    div.total-right
                                p.price 新臺幣 2,000
                        div.record-content.mt-12
                            div.left
                                p.des 我吃土，你發財！
                                p.date 截止日期 2020-07-11
                                    span 23:59:59
                            div.right
                                button.more 查看進度
                    div.record
                        div.record-up
                            img.bg(src=assets+"/images/hongbao/pattern2/4/4.png" alt="")
                            div.money
                                p.title 恭喜發財～
                                div.total
                                    div.total-left(hidden)
                                    div.total-center
                                        p 　
                                    div.total-right(hidden)
                                p.price 　
                            div.mask
                                p 已結束
                        div.record-content.mt-12
                            div.left
                                p.des 恭喜發財～
                                p.date 截止日期 2020-05-11
                                    span 23:59:59
                            div.right
                                button.more 查看結果

block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= assets + '/js/hongbao.bundle.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)


