mixin notice(content,isLight)
    div.cw-notice 
        .cw-notice-title
            p(class=(isLight)?'light':'') 你的聲明注意事項
            a
                p
        .cw-notice-content(class=(isLight)?'light':'')
            if content == 15
                +notice-15()
            else if content == 20
                +notice-20()
            else if content == 26
                +notice-26()
            else
                p(class=(isLight)?'light':'') #{content}
mixin notice-15()
    p.mb-sm
        b 本人已閱讀並同意
    ul.mb-12
        li ・ FATCA
        li ・ 共同行銷/合作推廣個人資料同意條款
        li ・ 同意聯徵同意書
        li ・ 存款總約定書
        li ・ 個人資料同意使用條款
        li ・ 悠遊卡行銷記號
        li ・ 開立信託帳戶
        li ・ 數位存款帳戶約定條款
        li ・ 聯名卡/認同機構個資使用
    p.mb-sm
        b 本人已閱讀並不同意 
    ul
        li ・ 本人已閱讀並不同意