header#youhui-detail--header
    h1.title
        .back 大戶優惠詳情
    div.grade
        div.grade--container(data-detail-type='twd-deposit')
            img(src="/assets/images/icon/twd-deposit_64x64.svg" alt="")
            p 台幣活存
        div.grade--container(data-detail-type='transfer')
            img(src="/assets/images/icon/transfer_64x64.svg" alt="")
            p 跨提轉
        div.grade--container(data-detail-type='credit-card')
            img(src="/assets/images/icon/credit-card_64x64.svg" alt="")
            p 國內刷卡
        div.grade--container.active(data-detail-type='swipe-abroad')
            img(src="/assets/images/icon/swipe-abroad_64x64.svg" alt="")
            p 國外刷卡

