extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        .status
            .status-image
                img(src="/assets/images/substitute/steps/step-7@2x.png", alt="")
            .status-title 你已經是大戶囉
            .status-content 
                | 快去登入體驗！
        
        .center.align-bottom
            button.btn.btn-primary(type="submit") 前往登入