extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        .status
            .status-image
                img(src="/assets/images/substitute/steps/step-1@2x.png", alt="")
            .status-title 需要補件
            .status-content 
                | 請重新上傳以下證件<br>
                ul.ul-list
                    li
                        a.link(href="#") ・身分證
                    li
                        a.link(href="#") ・第二證件

        .center.align-bottom
            button.btn.btn-primary(type="submit") 開始補件
               
                
                
