extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        .status
            .status-image
                img(src="/assets/images/substitute/steps/step-2@2x.png", alt="")
            .status-title 案件尚未完成申請
            .status-content 請至任一分行進行驗證

        .center.align-bottom
            button.btn.btn-primary(type="submit") 查詢永豐銀行分行據點
        
               
                
                
