extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    

block js
    script(src='/assets/js/substitute.bundle.js' defer)

block main
    .view
        .status
            .status-image
                img(src="/assets/images/substitute/steps/step-3@2x.png", alt="")
            .status-title 查無申請中資料

        .center.align-bottom
            p.f14 當大戶的好，開過就明瞭
            button.btn.btn-primary(type="submit") 網路開戶
        
               
                
                
