link(rel='stylesheet' href='/lib/styles/reset.min.css')
//link(rel='stylesheet', href='/lib/styles/slick.css')
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
link(rel='stylesheet' href='/assets/styles/open.css')