$active: #fed28f;
$active_bg: rgba(254, 210, 143, 0.5);

.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 34px;
    height: 14px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    &:before,
    &:after {
        content: '';
    }
    &:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -3px;
        left: 0px;
        transition: left 0.25s;
    }

    .toggle-checkbox:checked + & {
        background: $active_bg;
        &:before {
            background: $active;
            left: 14px;
        }
    }
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

// select
select.cw-select {
    outline: none;
    background-image: url($assets + '/images/icon/cw-dropdown.svg');
    background-position: right 12px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 6px 32px 6px 13px;
    border-radius: 16px;
    border: solid 1px #d5c1aa;
    background-color: #fff6eb;
    font-size: 14px;
    font-weight: bold;

    line-height: 1.5;
    letter-spacing: normal;
    color: #976324;
    margin-right: 8px;
    height: 32px;
}

// dropdown
select.cw-dropdown {
    outline: none;
    background-image: url($assets + '/images/icon/cw-dropdown.svg');
    background-position: right 8px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 9px 32px 9px 8px;
    border-radius: 3px;
    border: solid 1px #aaaaaa;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;

    line-height: 1.5;
    letter-spacing: normal;
    color: #111111;
    width: 100%;
    height: 42px;
    &:invalid {
        color: #818181;
    }
}

//check
.cw-check {
    input {
        position: absolute;
        left: -9999px;
    }
    label {
        margin-right: 8px;
        margin-bottom: 8px;
        display: inline-block;
        position: relative;
        padding: 6px 12px 6px 12px;
        font-size: 14px;
        font-weight: normal;

        line-height: 1.5;
        letter-spacing: normal;
        color: #111111;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s, content 0.2s;
        border-radius: 16px;
        border: solid 1px #aaaaaa;
        height: 32px;
    }
    input:checked + label {
        padding: 6px 12px 6px 36px;
        font-weight: bold;
        color: #976324;
        border-radius: 16px;
        border: solid 1px #d5c1aa;
        background-color: #fff6eb;
    }
    input:checked + label::before {
        content: url($assets + '/images/icon/cw-checked.svg');
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 9px;
        top: 4px;
        transition: background-color 0.2s, content 0.2s;
    }
}

// 注意事項
div.cw-notice {
    margin-top: 32px;
    margin-bottom: 56px;
    padding: 8px;
    background-color: rgba(195, 139, 71, 0.1);
    &-title {
        display: flex;
        justify-content: space-between;
        position: relative;
        p {
            float: left;
            font-size: 14px;
            font-weight: bold;

            line-height: 1.71;
            letter-spacing: normal;
            color: #111111;
            &.light {
                color: #fed28f;
            }
        }
        a {
            float: right;
            position: absolute;
            top: 0;
            right: 10px;
            p {
                background-image: url($assets + '/images/icon/plus.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 20px;
                height: 20px;
                display: block;
            }
        }
        &.active {
            a {
                p {
                    background-image: url($assets + '/images/icon/minus.svg');
                }
            }
        }
    }
    &-content {
        display: none;
        text-align: left;
        margin-top: 16px;
        p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #111111;
            &.light {
                color: #ffffff;
            }
        }
        &.light {
            ul {
                color: #ffffff;
            }
        }
        ul {
            font-size: 12px;
            font-weight: normal;
            letter-spacing: normal;
            color: #111111;
            line-height: 1.5;
            li:not(:first-child) {
                margin-top: 8px;
                ul {
                    margin-left: 1em;
                }
            }
        }
    }
}

<<<<<<< HEAD
// 貸款: 帳戶
.account_item {
    position: relative;
    display: inline-block;
    width: 100%;
    > img {
        margin-right: 8px;
        width: 40px;
        float: left;
        &.a1 {
        }
        &.a2 {
            display: none;
        }
    }
    &.mortgage {
        .a1 {
            display: none;
        }
        .a2 {
            display: block;
        }
    }
    .text {
        width: calc(100% - 48px);
        text-align: left;
        float: left;
        position: relative;
        padding-right: 30px;
        h3 {
            color: #111111;
            margin-bottom: 3px;
            font-weight: bold;
            line-height: 1.3;
        }
        span {
            color: #818181;
        }
        .arrow {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
        }
    }
}

.dashboard_item {
    position: relative;
    width: 44px;
    // height: 31px;
    text-align: center;
    > div {
        position: absolute;
    }
    .circle {
        width: 44px;
        height: 22px;
        border-top-left-radius: 44px;
        border-top-right-radius: 44px;
        top: 0;
        left: 0;
        &.grey {
            background-color: #d8d8d8;
        }
        &.gold {
            background: linear-gradient(
                58deg,
                rgba(194, 149, 87, 1) 0%,
                rgba(194, 149, 87, 1) 35%,
                rgba(242, 203, 145, 1) 100%
            );
            transform-origin: center bottom;
        }
    }
    .circle_s {
        width: 38px;
        height: 19px;
        border-top-left-radius: 38px;
        border-top-right-radius: 38px;
        top: 3px;
        left: 3px;
        background-color: #fff;
    }
    .cube {
        width: 44px;
        height: 22px;
        top: 22px;
        background-color: #fff;
    }
    p {
        font-size: 12px;
        position: relative;
        z-index: 1;
        color: #818181;
        padding-top: 5px;
        span {
            display: block;
            &.num {
                color: #111111;
                padding-top: 4px;
            }
        }
=======
// input
input.cw-input {
    margin: 0 auto;
    width: 100%;
    height: 42px;
    padding: 10px 8px;
    border-radius: 3px;
    border: 0;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    &.disable {
        border: solid 1px #ff6767;
>>>>>>> dev/junx
    }
}
