@import 'library/_mediaQuery';
@import 'library/_styleSetting';

@mixin iPad() {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}

body {
    background: url($assets + '/images/page-marblebg.png') no-repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    &.info {
        background-image: linear-gradient(
            to bottom,
            #ffeddb,
            #f9f4ee 34%,
            #faf7f3 56%,
            #f9f4ef 77%,
            #ffeddb 99%
        );
    }
}

#appHongbao {
    padding-top: 46px;
    > header {
        background: white;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 18px;
        &.black {
            color: white;
            background-image: linear-gradient(to bottom, #2b2b2f, #36363b);
            .title {
                color: white;
            }
        }
        img {
            height: 20px;
            width: 20px;
            &.back {
                position: absolute;
                left: 18px;
            }
        }
        .title {
            font-size: 20px;
            font-weight: normal;
            line-height: 1.1;
            letter-spacing: normal;
            text-align: center;
            color: #111111;
        }
    }
    > img.base {
        width: 100%;
        min-height: 154px;
        position: absolute;
        left: 0;
    }
    #appHongbaoContent {
        padding: 0 16px;
        &.info {
            padding: 0 7.5px;
        }
        &.grab {
            padding: 0 28px;
        }
        position: relative;
        .mb-16 {
            margin-bottom: 16px;
        }
        .mt-32 {
            margin-top: 32px;
        }
        .mt-12 {
            margin-top: 12px;
        }
        .mt-16 {
            margin-top: 16px;
        }
        .mt-24 {
            margin-top: 24px;
        }
        // 紅包資訊
        div.hongbaoInfo {
            margin-top: 32px;
            border-radius: 3px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
            background-color: white;
            text-align: left;
            padding: 16px;
            p.infoTitle {
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #111111;
            }
            div.infoForm {
                margin-top: 16px;
                div.row {
                    display: inline-block;
                    width: 100%;
                    &:not(:first-child) {
                        margin-top: 16px;
                    }
                    div.col {
                        float: left;
                        &.A {
                            width: 93px;
                            p {
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 1.5;
                                color: #111111;
                            }
                        }
                        &.B {
                            width: calc(100% - 93px);
                            p {
                                font-size: 16px;
                                line-height: 1.5;
                                color: #111111;
                            }
                        }
                    }
                }
            }

            hr.divide {
                height: 1px;
                background-color: #e4e4e4;
                border: 0;
                margin-top: 26px;
            }
            p.infoPwdTitle {
                margin-top: 23.5px;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                color: #111111;
            }
            p.infoPwdWords {
                margin-top: 8px;
                font-size: 16px;
                line-height: 1.5;
                color: #111111;
            }
            div.infoPwdForm {
                margin-top: 9px;
                margin-bottom: 4px;
                div.row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    &:not(:first-child) {
                        margin-top: 16px;
                    }
                    div.col {
                        &.A {
                            width: 100%;
                            input {
                                width: 100%;
                                height: 42px;
                                line-height: 42px;
                                border-radius: 3px;
                                border: solid 1px #aaaaaa;
                                padding: 0 8px;
                                &::placeholder,
                                &:-ms-input-placeholder,
                                &::-ms-input-placeholder {
                                    font-size: 16px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    color: #b2b2b2;
                                }
                                &.disable {
                                    border: solid 1px #ff6767;
                                }
                            }
                        }
                        &.B {
                            width: 100px;
                            p {
                                font-size: 16px;
                                font-weight: bold;
                                text-align: right;
                                color: #c38b47;
                            }
                        }
                    }
                }
            }
            p.warning {
                margin-bottom: 23.5px;
                font-size: 14px;
                color: #ff6767;
            }
        }
        // 發送紅包
        div.hongbaoSend {
            div.containerSend {
                img.bg {
                    width: 100%;
                }
                div.pattern {
                    .top {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            font-size: 28px;
                            font-weight: bold;
                            color: #ffcd9a;
                            position: absolute;
                            top: 103px;
                        }
                        width: 100%;
                        height: 220px;
                        background-size: 100%;
                        background-image: url($assets + '/images/hongbao/pattern2/1/6.png');
                    }

                    .middle,
                    .bottom {
                        display: flex;
                        justify-content: space-between;
                    }
                    .c {
                        width: calc(100% - 42.5px);
                    }
                    .l,
                    .r {
                        min-width: 42.5px;
                    }

                    .middle {
                        .l {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_01.png');
                        }
                        .r {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_02.png');
                        }
                        .c {
                            background-color: #fdfcfa;
                            .a,
                            .b {
                                display: flex;
                                position: relative;
                                justify-content: space-between;
                                align-items: center;
                                .center {
                                    position: absolute;
                                    left: 50%;
                                }
                                p {
                                    font-size: 14px;
                                    font-weight: bold;
                                    line-height: 1.71;
                                    color: #111111;
                                    &.fw-16 {
                                        font-size: 16px;
                                    }
                                    &.fw-30 {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                        .l,
                        .r {
                            min-width: 42.5px;
                            background-size: 100%;
                        }
                    }
                    .bottom {
                        .c {
                            height: 42.5px;
                            background-size: 2px;
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_03.png');
                            background-repeat: repeat-x;
                            background-position: left bottom;
                        }
                        .l,
                        .r {
                            min-width: 42.5px;
                            background-size: 100%;
                        }
                        .l {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_04.png');
                        }
                        .r {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_05.png');
                        }
                    }
                }
            }
        }
        // 搶紅包
        div.hongbaoGrab {
            .container {
                background-image: url($assets + '/images/hongbao/pattern2/1/5.png');
                background-size: 100%;
                width: 100%;
                min-height: 320px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                p.name {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;

                    position: absolute;
                    top: 105px;
                }
                p.title {
                    font-size: 28px;
                    font-weight: bold;
                    color: #ffcd9a;
                }
                button.submit {
                    width: 200px;
                    height: 55px;
                    border-radius: 27px;
                    box-shadow: 0 1px 4px 0 #490000,
                        inset -1px -3px 1px 1px rgba(94, 53, 4, 0.71),
                        inset 1px 3px 1px 1px rgba(255, 233, 201, 0.74);
                    border-style: solid;
                    border-width: 2px;
                    border-image-source: radial-gradient(
                        circle at 0 47%,
                        #86531a,
                        #af9474 40%,
                        #ffe7cb 46%,
                        #a67945 77%,
                        #936b29 94%,
                        #d1ac6a 99%
                    );
                    border-image-slice: 1;
                    background-image: linear-gradient(
                            283deg,
                            #ddac6e 94%,
                            #ffe4bc 48%,
                            #f0c996 20%,
                            #e0b16f 7%
                        ),
                        radial-gradient(
                            circle at 0 47%,
                            #86531a,
                            #af9474 40%,
                            #ffe7cb 46%,
                            #a67945 77%,
                            #936b29 94%,
                            #d1ac6a 99%
                        );
                    background-origin: border-box;
                    background-clip: content-box, border-box;

                    position: absolute;
                    bottom: 32px;

                    span {
                        background-image: linear-gradient(
                            100deg,
                            #883907 6%,
                            #ed963d 49%,
                            #883907 92%
                        );
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            p.next_time {
                font-size: 14px;
                font-weight: bold;
                text-decoration: underline;
                color: #c38b47;
            }
        }
        // 領取紅包
        div.hongbaoReceive {
            .card {
                &-totem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    p {
                        font-size: 28px;
                        font-weight: bold;
                        color: #ffcd9a;
                        position: absolute;
                        top: 55%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                    }
                    width: 100%;
                    height: 220px;
                    background-size: 100%;
                    background-image: url($assets + '/images/hongbao/pattern2/1/6.png');
                }
                &-package {
                    &-up,
                    &-down {
                        display: flex;
                        justify-content: space-between;
                    }
                    &-up-center,
                    &-down-center {
                        width: calc(100% - 42.5px);
                    }
                    &-up-left,
                    &-up-right,
                    &-down-left,
                    &-down-right {
                        min-width: 42.5px;
                    }

                    &-up {
                        &-left {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_01.png');
                        }
                        &-right {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_02.png');
                        }
                        &-center {
                            background-color: #fdfcfa;
                            &-success {
                                p.name {
                                    font-size: 16px;
                                    line-height: 1.5;
                                    color: #111111;
                                }
                                p.price {
                                    margin-top: 12px;
                                    font-size: 24px;
                                    font-weight: bold;
                                    line-height: 1.88;
                                    color: #c38b47;
                                }
                            }
                            &-fail {
                                p.fail-big {
                                    font-size: 20px;
                                    line-height: 1.2;
                                    color: #111111;
                                }
                                p.fail-des {
                                    margin-top: 12px;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    color: #111111;
                                }
                            }
                        }
                        &-left,
                        &-right {
                            min-width: 42.5px;
                            background-size: 100%;
                        }
                    }

                    &-down {
                        &-center {
                            height: 42.5px;
                            background-size: 2px;
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_03.png');
                            background-repeat: repeat-x;
                            background-position: left bottom;
                        }
                        &-left,
                        &-right {
                            min-width: 42.5px;
                            background-size: 100%;
                        }
                        &-left {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_04.png');
                        }
                        &-right {
                            background-image: url($assets + '/images/hongbao/pattern2/border/style_red_05.png');
                        }
                    }
                }
            }
            p.des {
                margin-top: 4px;
                font-size: 14px;
                color: #818181;
            }
        }
        // 紅包細節
        div.hongbaoDetail {
            nav.navbar {
                position: fixed;
                z-index: 2;
                left: 0;
                top: 46px;
                width: 100%;
            }

            ul.menu {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            li.item {
                width: 100%;
                height: 57px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: relative;
                border-bottom: 1px solid #2f2f2f;
                p {
                    line-height: 1;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #b2b2b2;
                    position: absolute;
                    bottom: 7px;
                }
                &.active {
                    border-bottom: 2px solid #fed28f;
                    p {
                        font-weight: bold;
                        color: #fed28f;
                    }
                }
            }

            div.container {
                margin-top: 57px;
                padding-top: 16px;
                div.record {
                    margin-bottom: 12px;
                    padding: 8px;
                    border-radius: 4px;
                    background-image: linear-gradient(
                        238deg,
                        #4c4c51 100%,
                        #383838 5%
                    );
                    &-up {
                        position: relative;
                        img.bg{
                            width: 100%;
                        }
                        div.money {
                            position: absolute;
                            width: 100%;
                            top: 55%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            p.title {
                                text-shadow: 0 2px 2px rgba(102, 0, 0, 0.85);
                                font-size: 28px;
                                font-weight: bold;
                                color: #ffcd9a;
                            }
                            .total {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 8px;
                                &-left {
                                    width: 21px;
                                    height: 1px;
                                    background-image: linear-gradient(
                                        to left,
                                        #fee1b7,
                                        rgba(240, 211, 149, 0) 100%
                                    );
                                }
                                &-center {
                                    margin-left: 4px;
                                    margin-right: 4px;
                                    font-size: 12px;
                                    color: #fee1b7;
                                }
                                &-right {
                                    width: 21px;
                                    height: 1px;
                                    background-image: linear-gradient(
                                        to left,
                                        rgba(240, 211, 149, 0),
                                        #fee1b7 100%
                                    );
                                }
                            }
                            p.price {
                                margin-top: 2px;
                                font-size: 12px;
                                color: #fee1b7;
                            }
                        }
                    }
                    &-content {
                    }
                }
            }
        }
        div.contentBtn {
            margin-bottom: 32px;
        }
        button.btnDefault {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #784f1d;
            height: 40px;
            border-radius: 3px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(to bottom, #f2cb91, #c29557);
            padding: 10px 16px 9px 16px;
            border: 0;
            width: 260px;
            &.disable {
                color: #e3e3e3;
                background-image: linear-gradient(to bottom, #b2b2b2, #818181);
            }
        }
        button.btnSolid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #c38b47;
            background-color: rgba(255, 255, 255, 0);
            height: 40px;
            border-radius: 3px;
            border: solid 1px rgba(174, 103, 0, 0.5);
            padding: 10px 16px 9px 16px;
            width: 260px;
        }
    }
}
