@import 'library/_styleSetting';

.level {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 0 !important;
    max-width: 312px;
    border-radius: 10px !important;
    overflow: hidden;
    background: #fff;
    @extend %position_center;
    .img_wrapper {
        position: relative;
        img {
            width: 100%;
            &.badge {
                width: 160px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    h6 {
        margin: 24px 0 18px;
    }
    p {
        color: #656565;
        margin-bottom: 28px;
        span {
            display: block;
        }
    }
    .btn_gold {
        margin-bottom: 24px;
        max-width: 180px;
    }
}
