

@import 'base/_common';
@import 'base/_modal';
@import 'base/_components';
 
body {
    width: 100%;
    background: url($assets + '/images/oas/bg/whitestone.png') repeat-y center center;
    background-size: 944px auto;
}


#appOas { 
    width: 100%;
    overflow: hidden;
    .view-992{
        min-height: calc(100vh - 80px - 126px);
        @include maxW-1279 {
             min-height: calc(100vh - 56px - 80px);
        }
    }

    .just-content-between{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn-primary{
        color: #111;
        font-weight: bold;
    }
}





/* 漸層背景 */
.sub-content{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48453c+0,000000+100 */
    // background: #48453c; /* Old browsers */
    // background: -moz-linear-gradient(top,  #48453c 0%, #000000 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  #48453c 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  #48453c 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48453c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    // overflow: hidden;
    // min-height: initial;
    background: #fff;
    &.white-stone-bg{
        background: url($assets + '/images/oas/bg/whitestone.png') no-repeat center center;
        background-size: cover;
    }
}

.bottom-area{
    @include maxH-600{  
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 16px 0 32px !important;
        margin: 0 auto !important;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
}


.status-content{
    max-width: 400px;
    margin: 0 auto;
}