
@import 'plugins/_slick';
@import 'plugins/_select2';
@import 'base/_common';
@import 'base/_modal';
 


.open-wrapper{
    height: 100%;
    padding: 10vh 0 0;
    display: flex;
    flex-direction: column;
    @include maxW-768 {
        padding: 0;
    }
    .main-title{
        margin: 0 auto;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.25;
        color: #cd9b1d;
        @include maxW-768 {
            margin: 0 auto 0 0;
            font-size: 30px;
            line-height: 1.5;
        }
    }
}
/* 申請步驟 */
.step-wrapper{
    .view {
        flex-direction: row;
        @include maxW-768 {
            flex-direction: column;
        }
    }
}
.step-check{
    width: 100%;
    @include maxW-768 {
        padding: 38px 0 0;
    }
    &-ul {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        @include maxW-768 {
           
        }
    }
    &-list{
        width: 100%;
        position: relative;
        padding-bottom: 75px;
        display: flex;
        align-items: flex-start;
        &:before {
            content: '';
            position: absolute;
            left: 14px;
            top: 42px;
            width: 2px;
            height: 44px;
            background: #f5f5f5;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        &.active{
            &:before {
                background: #cd9b1d;
            }
            .step-check-icon{
                background: url(/assets/images/open/step-check_active@3x.png) no-repeat center center;
                background-size: 100% auto;
            }
            .step-check-status_ttl{
                font-weight: bold;
            }
        }
    }
    &-icon{ 
        margin-top: -4px;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(/assets/images/open/step-check@3x.png) no-repeat center center;
        background-size: 100% auto;
    }
    &-status{
        width: 182px;
        margin: 0px 42px 0 22px;
        &_ttl{
            display: block;
            font-size: 18px;
            font-weight: normal;
            color: #111111;
        }
        &_des{
            position: absolute;
            top: 1.8rem;
            display: block;
            font-size: 14px;
            font-weight: normal;
            color: #818181;
        }
    }   
    &-link{
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
        .txt{
            font-size: 16px;
            color: #111111;
        }
        .icon {
            width: 20px;
            margin: -1px 0 0 6px;
        }
    }
    
}

 
/* card slider */
.card-sldier{
    width: 100%;
    max-width: 940px;
    margin: 0 auto 50px;
    // @include maxW-768{
    //     width: calc(100% + 40px);
    //     margin: 0 -20px 50px;
    // }

    &-inner {
        display: flex;
        justify-content: center;
        align-items: stretch;
        // justify-content: space-around;
    }
    &-container{
        display: flex;
        flex-flow: column;
        height: calc(100% - 200px); 
        padding: 20px 16px 16px;
    }   
    &-item {
        position: relative;
        max-width: 260px;
        width: calc(33.33% - 12px);
        margin: 0 6px;
        background: #fff;
        box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.35);
        border-radius: 10px;
        overflow: hidden;
        @include maxW-768{
            display: flex !important;
            flex-direction: column;
            // width: calc(33.33% - 12px);
            // width: 90% !important;
            max-width: 100%;
            padding-bottom: 80px;
            min-height: 514px;
            margin: 20px auto;
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.35);
        }
        &_photo{
            width: 100%;
            height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &_title{
            display: flex;
            align-items: center;
            margin: 0 auto 12px 0;
            .main-ttl{
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 1.5;
                color: #111111;
            }   
            .ttl-tag{
                margin-left: 8px;
                padding: .1em .5em;
                border-radius: 5px;
                border: 1px solid #c38b47;
                font-size: 0.875rem;
                font-weight: normal;
                line-height: 1.5;
                color: #c38b47;
            }
        }
        &_content{
            .content-ul{
                padding: 0 0 0 20px;
            }
            .content-list{
                position: relative;
                margin-bottom: 1rem;
                font-size: 0.875rem;
                line-height: 1.5;
                color: #111111;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -25px;
                    width: 24px;
                    height: 24px;
                }
                &.check{
                    &:after {
                        background: url('/assets/images/open/icon/check@3x.png') no-repeat center center;
                        background-size: 100% auto;
                    }
                }
                &.fail{
                    &:after {
                        background: url('/assets/images/open/icon/fail@3x.png') no-repeat center center;
                        background-size: 100% auto;
                    }
                }
            }
        }
        &_btn{
            margin-top: auto;
            text-align: center;
            @include maxW-768 {
                position: absolute;
                bottom: 16px;
                left: 10%;
                right: 10%;
            }
            .btn {
                min-width: initial;
                width: 100%;
            }
        }
    }
}


/* 臨櫃驗證 */
.step-front-wrapper{
    flex-direction: row;
    @include maxW-768 {
        padding: 0 16px;
        flex-direction: column;
    }
    .step-front-words{
        padding: 0 0 0 10vh;
        margin-top: 0;
        @include maxW-768 {
            padding: 0px;
        }
    }
    .step-front-container{
        @include maxW-768 {
            flex-direction: column;
        }
    }
    .main-title{
        margin: 0 auto 0;
        padding: 0 0 1.5rem;
        @include maxW-768 {
            font-size: 24px;
            padding: 0 0 0.3rem;
        }
    }
    .main-title_black{
        color: #000;
    }
    .main-sub-txt{
        display: block;
        @include maxW-768 {
            font-size: 0.875rem;
        }
    }

    .step-check{
        padding: 38px 16px 0;
    }

    .step-check-list{
        @include maxW-768 {
            padding-bottom: 64px;
        }
        &:before {
            content: '';
            position: absolute;
            left: 38px;
            top: 86px;
            height: 48px;
            width: 4px;
            background: #dcc29c;
        }
    }

    .step-check-icon {
        margin-top: -4px;
        display: inline-block;
        width: 80px;
        height: 80px;
        background: none;
    }

    .step-check-status{
        &_ttl{
            display: block;
            font-size: 70px;
            line-height: 1;
            font-weight: bold;
            // color: #111111;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(180deg, #d9bc92 30%, rgba(217, 188, 146, 0) 90%);
        }
        &_des{
            margin-top: 1rem;
            font-size: 1rem;
            color: #111;
        }
    }
  

}



/* black card */
.flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-card-box{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    width: 496px;
    height: 316px;
    padding: 40px 35px 20px;
    margin: 60px auto;
    border-radius: 20px;
    background: rgb(41,41,41);
    background: linear-gradient(130deg, rgba(41,41,41,1) 8%, rgba(76,73,73,1) 26%, rgba(78,74,74,1) 30%, rgba(47,47,47,1) 53%, rgba(9,9,9,1) 100%);
    -webkit-box-shadow: 0px 3px 29px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 29px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 29px -2px rgba(0,0,0,0.55);

    @include maxW-768 {
        width: 98%;
        height: 230px;
        padding: 20px 20px 15px;
    }
    .carmra {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        align-items: center;
        @include maxW-768 {
            display: flex;
        }
        .icn {width: 24px;}
        .txt {color: #d4b572; font-size: 0.875rem;}
    }
    .ttl{
        font-size: 1rem;
        color: #fff;
        @include maxW-768 {
            font-size: 0.8125rem;
        }
    }
    .width6{
        width: 6rem !important;
    }
    .form-box{
        margin-top: .5rem;
        background: #222020;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        @include maxW-768 {
            height: 46px;
        }

    }
    .form-group{
        position: relative;
        flex: 1 1 auto;
        margin: 0;
    }
    .line{
        width: 12px;
        height: 1px;
        background: #fff;
    }
  
    .form-control {
        display: flex;
        padding: 0;
        width: 100%;
        height: 50px;
        font-size: 1rem;
        line-height: 50px;
        color: #c38b47;
        border: none;
        border-radius: 0;
        background: #222020;
        text-align: center;
        @include maxW-768 {
            height: 46px;
            font-size: 1rem;
            line-height: 46px;
        }
        &::placeholder {
            color: #818181;
            opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #818181;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #818181;
        }
    }
}

.bank-list-wrap {
    margin-top: 2rem;
    & > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        
        li {
            width: 33.33%;
            margin-bottom: 2rem;
            padding: 0 1rem;
            border-left: 4px solid #d4b572;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #111;
            @include maxW-768 {
                width: 50%;
            }
        }
    }
}



/* id card */
.id-card{
    &-display{
        &-wrong {
            .id-card-photo{
                max-width: 86%;
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                justify-content: space-between;
                @include maxW-768 {
                    max-width: calc(100% + 20px);
                    margin: 0 -10px;
                    flex-flow: row wrap;
                }
                .id-card-photo-item{
                    margin: 20px 25px 40px 0;
                    @include maxW-768 {
                        width: calc(50% - 20px);
                        margin: 20px 10px 5px;
                    }
                    .text{
                        margin-top: .4rem;
                        font-size: 14px;
                        line-height: 1.71;
                        color: #111111;
                        text-align: center;
                    }
                }
            }
        }
    }
    &-photo{
        max-width: 380px;
        margin-bottom: 1rem;
    }
    .sub-ttl{
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
        color: #111111;
        .icn{
            display: inline-block;
            width: 24px;
            margin-right: 10px;
        }
    }
    .list-style-disc{
        li {
            margin-bottom: 1rem;
        }
    }
    .note{
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1.71;
        color: #818181;
    }
}


/* 編輯 */
.editable-info-wrap{
    padding: 0 5rem 1.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    @include maxW-768 {
        padding: 0 0 1.6rem;
    }
    &:last-child {
        border-bottom: none;
    }
    .info-title{
        padding: .5rem 0.5rem;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        color: #111111;
        .edited-icon{
            display: inline-block;
            margin-left: 20px;
            width: 24px;
        }
    }
    .editable-info {
        padding: .5rem 0.5rem;
        color: #111111;
        &:nth-child(even) {
            background: rgba(0, 0, 0, 0.03);
        }
        .info-label{
            font-size: 1rem;
        }
        .info-reply{
            margin-top: .2rem;
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.5;
        }
    }
}






/* modal 搜尋銀行*/
#search-bank-input{
    width: 530px;
    margin: 20px auto;
    position: relative;
}
.bank-list{
    padding: .5rem 1rem;
    &-li {
        padding: .5em .3em;
        border-bottom: 1px solid #e3e3e3;
        font-size: 1rem;
        line-height: 1.5;
        color: #111111;
        &:last-child {
            border-bottom: 0px;
        }
        .name{
            padding-left: 1rem;
        }
    }
}



/*照片上傳*/
#upload-card-modal {
    .modal-dialog {
        width:564px;
        @include maxW-768 {
            width:100%;
        }
    }
}
.upload-card-box{
    max-width: 343px;
    margin: 0 auto;
    .card-photo{
        width: 317px;
        height: 196px;
        background: #eee;
        margin: 0 auto 24px;
        border-radius: 10px;
        overflow: hidden;
    }
    .card-note-list {
        padding: 14px 10px 0;

        .list-ttl {
            margin: 0 0 24px;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            color: #111111;
        }
    }
    .line-primary{
        li {
            font-size: 0.875rem;
            border-left: 4px solid #d4b572;
            padding-left: 16px;
            margin: 0 0 16px;
        }
    }
}

.invalid-error{
    .card-photo{
        position: relative;
        border: 2px solid #ff6767;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
        }
        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 36px);
            left: calc(50% - 25px);
            width: 50px;
            height: 50px; 
            background: url(/assets/images/open/fail.svg) no-repeat center center;
            background-size: 100% auto;
        }
        .error-box{
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            color: #ff6767;
            text-align: center;
            .text-note{
                font-size: 1.125rem;
                font-weight: bold;
            }
        }
    }
}
.text-danger.line-primary{
    li {
        border-left: 4px solid #ff6767;
        color: #ff6767;
    }
}


/*照片上傳 draggable */
.upload-card-box{
    .upload-photo-bg{
        position: relative;
        width: 343px;
        height: 230px;
        background: rgba(0,0,0,0.7);
        border-radius: 10px;
       // overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        .photo{
            width: 240px;
            height: 150px;
        }
    }
}


.resizable {
  width: 280px;
  height: 175px;
  position: absolute;
  top: 45px;
  left: 45px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 4px solid red;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 45px;
  height: 45px;
  border-radius: 50%; /*magic to turn square into circle*/
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -20px;
  top: -20px;
  background: rgba(255,70,65, .7);
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -20px;
  top: -20px;
  background: rgba(49,255,49, .7);
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -20px;
  bottom: -20px;
  background: rgba(0,0,255, .7);
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -20px;
  bottom: -20px;
  background: rgba(239,255,64, .7);
  cursor: nwse-resize;
}








/* 理財密碼 */
.finance-password{
    .finance-form{
        max-width: 262px;
        margin: 0 auto;
        .seperate-input {
            margin: 32px auto 15px;
        }
        .form-control{
            font-size: 30px;
            height: 56px;
            line-height: 56px;
            text-align: center;
        }
    }
}