.header {
    background: #fff;
    color: #111;
    font-size: 20px;
}
#re {
    background: url($assets + '/images/page-marblebg.png') no-repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    padding-top: 44px;
    .red_kv {
        .swiper-slide {
            padding: 0;
            background: #000;
            > img {
                opacity: 0.6;
            }
        }
        .text {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 4;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            img,
            h5 {
                display: inline-block;
                line-height: 27px;
                vertical-align: top;
                margin: 0 2px;
            }
        }
    }
    .swiper-container-horizontal {
        > .swiper-pagination-bullets {
            margin-bottom: 12px;
        }
    }
    .content {
        text-align: left;
        padding: 16px 16px 0;
        > p.f16 {
            margin-bottom: 8px;
        }
        div {
            &.W100 {
                margin-bottom: 16px;
                input {
                    height: 42px;
                    line-height: 42px;
                    border-radius: 3px;
                    border: solid 1px #aaaaaa;
                    padding: 0 8px;
                    &[type='radio']:checked {
                        & + label {
                            color: #976324;
                            border-color: #d5c1aa;
                            background-color: #fff6eb;
                        }
                    }
                    &::placeholder {
                        /* Edge */
                        color: #818181;
                        font-size: 16px;
                    }
                }
                label {
                    font-size: 14px;
                    color: #818181;
                    width: calc(50% - 7.5px);
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 4px;
                    border: solid 1px #aaaaaa;
                    background-color: #f0eeee;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                }
            }
            &.radio_wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                label {
                    margin: 0;
                }
            }
            span {
                display: block;
                margin-top: 8px;
                color: #818181;
                font-size: 14px;
            }
        }
        .price_area {
            text-align: center;
            margin: 49px 0 32px;
            line-height: 1.4;
            p {
                margin-bottom: 4px;
            }
            h5 {
                margin-bottom: 16px;
                font-weight: bold;
            }
            h6 {
                margin-bottom: 24px;
            }
        }
        .cw-notice {
            margin-bottom: 32px;
        }
    }
    .error {
        color: #ff6767;
        span {
            color: #ff6767 !important;
        }
        input {
            border-color: #ff6767 !important;
        }
    }
}

#Friends {
    padding-top: 44px;
    min-height: 100vh;
    text-align: center;
    background: url($assets + '/images/page-marblebg.png') no-repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    padding-top: 44px;
    img {
        margin: 64px auto 32px;
    }

    .btn_gold {
        color: #784f1d;
        max-width: 180px;
    }
    .btn_gold_light {
        max-width: 180px;

        &::before {
            background: #f8f8f8;
        }
        span {
            color: #c38b47;
        }
    }
    .receive {
        padding: 24px 16px;
        .receive_th {
            display: inline-block;
            width: 100%;
            font-weight: bold;
            h6 {
                display: inline-block;
                float: left;
            }
            .add_friend {
                display: inline-block;
                float: right;
                text-decoration: none;
                background-position: left center;
                background-image: url($assets + '/images/icon/add-friend.svg');
                background-size: 17px;
                background-repeat: no-repeat;
                padding-left: 22px;
            }
        }
        > .f_grey_03 {
            padding-top: 4px;
        }
        .btn_gold {
            margin-top: 32px;
            max-width: 263px;
        }
    }
    ul {
        margin: 8px 0;
    }
    li {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
        height: 75px;
        padding: 13px 16px;
        margin-bottom: 12px;
        font-weight: bold;
        position: relative;
        text-align: left;
        a {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
        }
        .regular {
            color: #c38b47;
            text-decoration: underline;
        }
        .added {
            color: #818181;
            cursor: default;
        }
        .name {
            margin-bottom: 6px;
        }
    }
}
