@import 'library/_mediaQuery';
@import 'library/_styleSetting';


body {
    background: #fff;
    font-size: 16px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.f14 { font-size: 0.875rem; }

.txt-note{color: #818181;}



.sub-header{
    width: 100%;
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .name {
        font-size: 1.125rem;
    }
}

.sub-footer {
    min-height: 80px;
    font-size: 0.875rem;
    color: #fff;
    background: #244a91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content {
    // height: calc(100vh - 48px - 80px);
    min-height: 600px;
    .view{
        padding: 0 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-title{
        padding: 30px 0 0;
        text-align: left;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5;
        color: #111111;
    }
    .sub-title{
        padding: 16px 0 0;
    }
    
}

.form-group{
    margin-bottom: 1em;
}
.form-label{
    display: block;
    margin-bottom: 5px;
}
.form-control{
    display: block;
    padding: 0 8px;
    width: 100%;
    height: 42px;
    font-size: 1rem;
    line-height: 42px;
    color: #b2b2b2;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    transition: border .3s ease;
    &:focus {
        outline: none;
        border: 1px solid #c38b47;
    }
}

::placeholder {
  color: #e3e3e3;
  opacity: 1;
}
:-ms-input-placeholder {
 color: #e3e3e3;
}
::-ms-input-placeholder {
 color: #e3e3e3;
}


/* 驗證碼 */
.seperate-input{
    margin: 32px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > .form-control {
        flex: 1 1 auto;
        margin: 0 4px;
    }
}
.note {
    font-size: 0.875rem;
    color: #c38b47;
}





/* button */
.center{
    text-align: center;
    margin: 0 auto 30px;
    &.align-bottom {
        margin: auto auto 32px;
    }
}


.btn{
    margin: 0 auto;
    min-width: 264px;
    height: 40px;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: #ae8f67;
        background-image: linear-gradient(to bottom, #f4e1c4, #d5bfa0);
    }
}
.btn-primary{
    color: #784f1d;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #f2cb91, #c29557);
}



/* 補件狀態 */
.status{
    &-image{
        max-width: 192px;
        margin:  0 auto;
    }
    &-title {
        padding: 24px 0 0 ;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        color: #111111;
    }
    &-content{
        padding: 24px 0 0 ;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        color: #111111;
        .ul-list{
            padding: 1rem 0;
            li {
                margin-bottom: .5rem;
            }
        }
        .link {
            color: #c38b47;
        }
    }
}