@import 'library/_mediaQuery';
@import 'library/_styleSetting';

@mixin iPad() {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}

body {
    background: url($assets + '/images/page-marblebg.png') no-repeat;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
}

#appTikuanDetail {
    > header {
        width: 100%;
        height: 44px;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 200;
        background-color: #221e1d;
        .title {
            font-size: 20px;
            font-weight: normal;

            line-height: 1.1;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            margin: 7px 18px;
            background-color: #221e1d;
            .back {
                display: block;
                height: 30px;
                background-image: url($assets + '/images/icon/arrow-left.svg');
                @extend %icon_position_left;
            }
        }
        .header-status {
            img {
                margin-top: 24px;
                width: 56px;
                height: 56px;
            }
            p {
                margin-top: 12px;
                font-size: 16px;
                font-weight: bold;

                line-height: normal;
                letter-spacing: normal;
                color: #fee1b7;
                &.white {
                    color: #ffffff;
                }
            }
        }
    }
}
#appTikuanDetailContent {
    padding: 0 16px;
    .status-content {
        background: url($assets + '/images/cw_header.png') no-repeat;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: calc(100% + 32px);
        margin: 0 -16px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &-body {
            margin-bottom: 24px;
            img {
                margin-top: 24px;
                width: 56px;
                height: 56px;
            }
            p {
                margin-top: 12px;
                font-size: 16px;
                font-weight: bold;

                line-height: normal;
                letter-spacing: normal;
                color: #fee1b7;
                &.white {
                    color: #ffffff;
                }
            }
        }
    }
    .value-content {
        p {
            padding-top: 24px;
            font-size: 14px;
            font-weight: normal;

            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            &.value {
                padding-top: 16px;

                font-size: 24px;
                font-weight: bold;

                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #c38b47;
            }
        }
    }
    hr {
        margin-top: 24px;
        height: 1px;
        background-color: #e3e3e3;
        border: 0;
    }

    ul.infos {
        margin-top: 24px;
        margin-bottom: 92px;

        font-size: 16px;
        font-weight: normal;

        line-height: 1.5;
        letter-spacing: normal;
        color: #111111;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            padding: 16px 8px;
            height: 56px;
            &.grey {
                background-color: rgba(0, 0, 0, 0.03);
            }
            p:nth-of-type(1) {
                font-weight: bold;
                flex: 35%;
            }
            p:nth-of-type(2) {
                flex: 65%;
            }
            p.foreign {
                font-size: 16px;
                font-weight: bold;

                line-height: 1.5;
                letter-spacing: normal;
                color: #c38b47;
            }
            a {
                height: 20px;
                padding-left: 7px;
            }
        }
    }
}
