mixin _header(text, color)
    header(class=color)
        img.back(src=assets+"/images/icon/arrow-left.svg" alt="")
        p.title #{text}

mixin _contentInfo()
    div#appHongbaoContent
        div.hongbaoInfo
            p.infoTitle 我吃土，你發財！
            div.infoForm
                div.row
                    div.col.A
                        p 發放方式
                    div.col.B
                        p 隨機分配
                div.row
                    div.col.A
                        p 總金額
                    div.col.B
                        p 新臺幣 5,000
                div.row
                    div.col.A
                        p 紅包數量
                    div.col.B
                        p 5
            hr.divide
            p.infoPwdTitle 簡訊動態密碼
            p.infoPwdWords 已發送至0988***652，請至手機上確認
            div.infoPwdForm
                div.row
                    div.col.A
                        input.disable(placeholder='請輸入簡訊動態密碼')
                    div.col.B
                        p 重新發送
            p.warning 簡訊驗證碼輸入錯誤
        div.contentBtn.mt-32
            button.btnDefault.disable 去發紅包

mixin _contentSend()
    div#appHongbaoContent.info
        div.hongbaoSend
            .containerSend.mt-12
                //- img.bg(src=assets+"/images/hongbao/pattern/1/6.png" alt="")
                .pattern
                    .top
                        p 我吃土，你發財！
                    .middle
                        .c
                            .a
                                p.left 總金額
                                p.center 紅包數量
                                p.right 5
                            .b
                                p.left.fw-30 5,000
                                p.center 每包金額
                                p.right.fw-16 隨機

            p.f_grey.f14 請於紅包有效時間內提供連結給好友


        div.contentBtn.mt-32
            button.btnDefault.mb-16 發送紅包連結給大家
            button.btnSolid 發送給指定DAWHO好友

mixin _contentGrab()
    div#appHongbaoContent.grab
        div.hongbaoGrab.mt-32
            .container
                .txt
                    p.name.mb-16 來搶 吳民 的紅包！
                    p.title 我吃土，你發財！
                button.submit
                    span 搶紅包！
            p.next_time.mt-16 下次領

//- status: success, fail, already
mixin _contentReceive(status)
    div#appHongbaoContent.info
        div.hongbaoReceive
            .card
                .card-totem
                    p 我吃土，你發財！
                .card-package
                    if status == 'success' || status == 'already'
                        .card-package-success
                            if status == 'success'
                                p.name 恭喜搶到 吳民 的紅包！
                            else if status == 'already'
                                p.name 你已領過 吳民 的紅包！
                            p.price 新臺幣 50
                    else
                        .card-package-fail
                            p.fail-big  好可惜...
                            p.fail-des 吳民 的紅包已被搶完了

            if status == 'success'
                //- p.des 紅包已自動入帳至DAWHO囉！
                button.btnDefault.mb-16.mt-12 立即登入領取紅包
            else
                button.btnDefault.mb-16.mt-12 登入查看紅包紀錄

            a 了解更多


