extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    link(rel='stylesheet', href='/lib/styles/slick.css')
    link(rel='stylesheet', href='/assets/styles/open.css')
block js
    script(src='/lib/js/slick.min.js' defer)
    script(src='/assets/js/open.bundle.js' defer)


block main
    .view#appOpen
        h1.main-title 選擇身份驗證方式
        .card-sldier
            .card-sldier-inner#card-slider-slick
                .card-sldier-item   
                    .card-sldier-item_photo(style="background-image: url(/assets/images/open/slider-card/bankbook.png)")
                    .card-sldier-container
                        .card-sldier-item_title
                            .main-ttl 銀行帳戶驗證
                            .ttl-tag 快速驗證
                        .card-sldier-item_content
                            ul.content-ul
                                li.content-list.check 可立即開啟金融卡非約定轉帳功能
                                li.content-list.check 轉帳限額單筆１萬、單日３萬、單月５萬
                                li.content-list.fail 無法使用數位銀行驗證，如Richart, O-bank等
                                li.content-list.check 他行留存的行動電話需與本行留存的相同才能進行驗證
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇

                .card-sldier-item   
                    .card-sldier-item_photo(style="background-image: url(/assets/images/open/slider-card/creditcard.png)")
                    .card-sldier-container
                        .card-sldier-item_title
                            .main-ttl 信用卡驗證
                            .ttl-tag 快速驗證
                        .card-sldier-item_content
                            ul.content-ul
                                li.content-list.check 無法轉帳給他人，需開戶後前往臨櫃開通
                                li.content-list.check 信用卡需持卡半年以上
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇

                .card-sldier-item   
                    .card-sldier-item_photo(style="background-image: url(/assets/images/open/slider-card/bank.png)")
                    .card-sldier-container
                        .card-sldier-item_title
                            .main-ttl 臨櫃驗證
                            .ttl-tag 快速驗證
                        .card-sldier-item_content
                            ul.content-ul
                                li.content-list.check 可立即開啟金融卡非約定轉帳功能
                                li.content-list.check 轉帳限額單筆5萬、單日10萬、單月20萬
                                li.content-list.check 線上申請完成後，30日內須帶雙證件前往鄰近永豐銀行分行進行驗證
                        .card-sldier-item_btn
                            button.btn.btn-primary(type="button") 選擇

                
