extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    link(rel='stylesheet', href='/assets/styles/open.css')
block js
    script(src='/assets/js/open.bundle.js' defer)

block main
    #appOpen
        .open-progress
            .progress-line(style="width:35%")
        .view-992
            h1.main-title 銀行帳戶驗證
            p.title-pdm 無法使用數位帳戶進行驗證(如Richart,O-bank)
            form
                .form-group
                    label.form-label(for="bankName") 銀行名稱
                    //-open lightbbox
                    select.custom-select(name="")
                        option(value="") 台北市中正區
                        option(value="") 新北市汐止區
                    small.form-text.text-danger.f13 required
                .form-group
                    label.form-label(for="bankNumber") 存款帳號
                    input.form-control(id="bankNumber", type="text", placeholder="請輸入選擇銀行的存款帳號", aria-describedby="") 
                    small.form-text.text-danger.f13 required
                .form-group
                    hr.bg-grey
                .form-check.form-group
                    input.styled-checkbox(id="defaultCheck1",type="checkbox", checked="checked")
                    label.styled-label(for="defaultCheck1") 同意開啟金融卡非約定轉帳功能
            .center
                button.btn.btn-primary.disabled(type="submit") 驗證帳戶
                
