extends ../../includes/_layout_substitute.pug

block title
    title 開戶進度查詢

block scss
    link(rel='stylesheet', href='/assets/styles/open.css')
block js
    script(src='/assets/js/open.bundle.js' defer)

block main

    #appOpen
        .open-progress
            .progress-line(style="width:35%")
        
        .flex-title.view-992
            h1 信用卡驗證
            a(href="javascript:void(0)",@click="openModal('#collapesBank')",data-toggle="modal", data-target="#collapesBank") 查看合作銀行

        .view

            .black-card
                .black-card-box
                    .carmra
                        .icn 
                            img(src="/assets/images/open/icon/camera@2x.png", alt="camara")
                        .txt 拍照掃瞄
                    div 
                        p.ttl 信用卡卡號
                        .form-box
                            .form-group
                                input.form-control(id="", maxlength="4",  type="text") 
                            span.line
                            .form-group
                                input.form-control(id="", maxlength="4", type="text")
                            span.line
                            .form-group
                                input.form-control(id="",  maxlength="4", type="text")
                            span.line
                            .form-group
                                input.form-control(id="",  maxlength="4", type="text") 
                    
                    .d-flex.align-center.justify-between
                        div 
                            p.ttl 有效期限
                            .form-box.width6
                                .form-group
                                    input.form-control(id="", maxlength="5", placeholder="MM / YY", type="text") 
                                
                        div 
                            p.ttl CVS
                             .form-box.width6
                                .form-group
                                    input.form-control(id="", maxlength="3", placeholder="_ _ _", type="text") 


            .center
                button.btn.btn-primary.disabled(type="submit") 驗證
        

        //- modal
        .modal-backdrop.fade
        .modal.fade#collapesBank(tabindex="-1",role="dialog", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title 信用卡驗證合作銀行
                        button.close(@click.prevent="closeModal('#collapesBank')",type="button",data-dismiss="modal") 關閉
                 
                        .modal-body
                            .bank-list-wrap 
                                ul
                                    li 永豐銀行
                                    li 聯邦銀行
                                    li 遠東銀行
                                    li 元大銀行
                                    li 兆豐銀行
                                    li 渣打銀行
                                    li 台中銀行
                                    li 安泰銀行
                                    li 陽信銀行
                                    li 三信銀行
                                    li 華泰銀行
                                    li 星展銀行
                    .modal-footer
